<template>
    <Modal :show="show" @close="$emit('close')">
        <div class="training-modal">
            <h1 class="training-modal_header">{{ isUpdate ? 'Update' : 'Create' }} Training</h1>
            <div class="training-modal_form">
                <div class="flex w-100">
                    <InputField
                        class="w-50"
                        label="Name"
                        placeholder="Enter name"
                        :is-required="true"
                        :input-value="newTraining.name"
                        @update:value="newTraining.name = $event"
                        :hasError="validationErrorHandler.hasError('name')"
                        :errorMessage="validationErrorHandler.getMessage('name')"
                    />
                    <InputField
                        class="w-50"
                        label="Price"
                        placeholder="Enter price in format 0.00"
                        :input-value="newTraining.price"
                        @update:value="newTraining.price = $event"
                        :hasError="validationErrorHandler.hasError('price')"
                        :errorMessage="validationErrorHandler.getMessage('price')"
                    />
                </div>
                <InputField
                    class="w-100"
                    label="Description"
                    component-type="textarea"
                    placeholder="Enter description. Max 500 symbols."
                    :input-value="newTraining.description"
                    @update:value="newTraining.description = $event"
                    :hasError="validationErrorHandler.hasError('description')"
                    :errorMessage="validationErrorHandler.getMessage('description')"
                />
                <div class="flex w-100">
                    <TrainingTypeSelect
                        class="w-50"
                        :has-label="true"
                        :is-required="true"
                        :input-value="newTraining.training_type_id"
                        :hasError="validationErrorHandler.hasError('training_type_id')"
                        :errorMessage="validationErrorHandler.getMessage('training_type_id')"
                        @change="newTraining.training_type_id = $event"
                    />
                    <SportSelect
                        class="w-50"
                        :has-label="true"
                        :is-required="true"
                        :input-value="newTraining.sport_id"
                        :hasError="validationErrorHandler.hasError('sport_id')"
                        :errorMessage="validationErrorHandler.getMessage('sport_id')"
                        @change="newTraining.sport_id = $event"
                    />
                </div>
                <UserSelect
                    class="w-50"
                    :has-label="true"
                    :payload="{role: 'trainer'}"
                    :is-required="true"
                    :input-value="newTraining.trainer_id"
                    :hasError="validationErrorHandler.hasError('trainer_id')"
                    :errorMessage="validationErrorHandler.getMessage('trainer_id')"
                    @change="newTraining.trainer_id = $event"
                    :is-disabled="!authService.isAdmin(currentUser)"
                />
                <div class="flex w-100">
                    <InputField
                        class="w-50"
                        label="Date"
                        component-type="date"
                        placeholder="Select date and time"
                        :max-date="null"
                        :is-required="true"
                        :input-value="newTraining.start_datetime"
                        @update:value="newTraining.start_datetime = $event"
                        :hasError="validationErrorHandler.hasError('start_datetime')"
                        :errorMessage="validationErrorHandler.getMessage('start_datetime')"
                    />
                    <InputField
                        class="w-50"
                        label="Duration"
                        placeholder="Enter duration in minutes"
                        :is-required="true"
                        :input-value="newTraining.duration"
                        @update:value="newTraining.duration = $event"
                        :hasError="validationErrorHandler.hasError('duration')"
                        :errorMessage="validationErrorHandler.getMessage('duration')"
                    />
                </div>
                <div class="flex w-100">
                    <OnlineCheckbox
                        class="w-50"
                        :input-value="newTraining.online"
                        @change="newTraining.online = $event"
                    />

                    <InputField
                        class="w-50"
                        v-if="!newTraining.online"
                        label="Location"
                        placeholder="Enter location"
                        :is-required="true"
                        :input-value="newTraining.location"
                        @update:value="newTraining.location = $event"
                        :hasError="validationErrorHandler.hasError('location')"
                        :errorMessage="validationErrorHandler.getMessage('location')"
                    />

                    <OnlinePlatformSelect
                        class="w-50"
                        v-if="newTraining.online"
                        :has-label="true"
                        :is-required="true"
                        :input-value="newTraining.online_platform_id"
                        :hasError="validationErrorHandler.hasError('online_platform_id')"
                        :errorMessage="validationErrorHandler.getMessage('online_platform_id')"
                        @change="newTraining.online_platform_id = $event"
                    />
                </div>
            </div>
            <PrimaryButton class="training-modal_button" @click="createOrUpdateTraining">
                <p>{{ isUpdate ? 'Update' : 'Create' }}</p>
            </PrimaryButton>
        </div>
    </Modal>
</template>

<script>
import Modal from "@/Components/Modals/Modal.vue";
import InputField from "@/Components/Form/InputField.vue";
import ValidationErrorHandler from "@/Services/ValidationErrors/ValidationErrorHandler";
import Notifications from "@/Services/Notiffications/notifications";
import training from "@/store/models/training";
import TrainingTypeSelect from "@/Components/Selects/TrainingTypeSelect.vue";
import SportSelect from "@/Components/Selects/SportSelect.vue";
import UserSelect from "@/Components/Selects/UserSelect.vue";
import Checkbox from "@/Components/Checkbox.vue";
import OnlineCheckbox from "@/Components/Selects/OnlineCheckbox.vue";
import OnlinePlatformSelect from "@/Components/Selects/OnlinePlatformSelect.vue";
import PrimaryButton from "@/Components/Buttons/PrimaryButton.vue";
import {mapActions, mapGetters} from "vuex";
import {AuthService} from "@/Services/AuthService/auth-service";
import auth from "@/store/modules/auth/auth";

export default {
    name: "CreateTrainingModal",
    components: {
        PrimaryButton,
        OnlinePlatformSelect,
        OnlineCheckbox,
        Checkbox,
        UserSelect,
        SportSelect,
        TrainingTypeSelect,
        Modal,
        InputField
    },
    props: {
        show: {
            required: true,
            type: Boolean
        },
        isUpdate: {
            required: false,
            type: Boolean,
            default: false
        },
        trainingId: {
            required: false,
            default: null
        }
    },
    data() {
        return {
            validationErrorHandler: new ValidationErrorHandler(),
            notifications: new Notifications(),
            newTraining: {...training},
            authService: new AuthService()
        }
    },
    async created() {
        if (!!this.trainingId) {
            await this.fetchTraining(this.trainingId);
            this.newTraining = this.fetchedTraining;
        }
    },
    watch: {
        newTraining: {
            handler() {
                this.validationErrorHandler.dropErrors();
            },
            deep: true
        }
    },
    computed: {
        ...mapGetters({
            fetchedTraining: "trainings/training",
            currentUser: "users/currentUser"
        }),
    },
    methods: {
        ...mapActions({
            storeTraining: "trainings/storeTraining",
            updateTraining: "trainings/updateTraining",
            fetchTrainings: "trainings/fetchTrainings",
            fetchTraining: "trainings/fetchTraining"
        }),
        async createOrUpdateTraining() {
            this.action = this.isUpdate ? this.updateTraining : this.storeTraining;

            await this.action(this.newTraining)
                .then(response => {
                    this.fetchTrainings();
                    this.$emit('close');
                    this.notifications.success(response.data.message)
                })
                .catch(error => {
                    if (error.response.status === 422) {
                        this.validationErrorHandler.setErrors(error.response.data.errors);
                    }

                    this.notifications.error(error.response.data.message);
                });
        }
    }
}
</script>

<style lang="scss" scoped>
.training-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    gap: 30px;

    &_header {
        line-height: 1.25;
        font-weight: 600;
        font-size: 1.25rem;
    }

    &_form {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
    }

    &_input {
        width: 250px;
    }

    &_button {
        height: 42px;
    }
}
</style>
