<template>
    <div>
        <h2 class="font-semibold text-xl text-gray-800 leading-tight">Sports</h2>
        <Table
            @create="openModal('create')"
            @update="openModal('update', $event)"
            @delete="openModal('delete', $event)"
            @paginate="paginate($event)"
            createLabel="Create"
            :headers="headers"
            :items="sports"
            :actions="actions"
            :metaData="metaData"
        />
        <CreateSportModal
            v-if="createSportModal"
            :show="createSportModal"
            @close="closeModal"
            :sport="selectedSport"
            :is-update="!!selectedSport"
        />
        <DeleteModal
            v-if="deleteSportModal"
            :show="deleteSportModal"
            model-name="Sport"
            :model="selectedSport"
            vuex-action="sports/deleteSport"
            @close="deleteSportModal = false"
            @deleted="wasDeleted"
        />
    </div>
</template>

<script>
import Table from "@/Components/Table/Table.vue";
import {headers} from "@/Services/TableService/Headers/sports-headers";
import AddSportModal from "@/Pages/Sport/Modals/AddSportModal.vue";
import {mapActions, mapGetters} from "vuex";
import CreateSportModal from "@/Pages/Sport/Modals/CreateSportModal.vue";
import DeleteModal from "@/Components/Modals/Components/DeleteModal.vue";
import searchQuery from "@/store/models/search-query";
import sortData from "@/store/models/sort-data";
import {authService} from "@/Services/AuthService/auth-service";

export default {
    name: "Index",
    components: {
        DeleteModal,
        CreateSportModal,
        AddSportModal,
        Table
    },
    data() {
        return {
            headers: headers,
            addSportModal: false,
            createSportModal: false,
            deleteSportModal: false,
            selectedSport: null,
            searchQuery: searchQuery,
            sortData: sortData,
        }
    },
    async created() {
        await this.fetchSports(searchQuery);
    },
    methods: {
        ...mapActions({
            fetchSports: 'sports/fetchSports',
            detachSport: "sports/detachSport"
        }),
        openModal(type, sport) {
            if (!!sport) {
                this.selectedSport = sport;
            }

            switch (type) {
                case 'create':
                    this.createSportModal = true;
                    this.selectedSport = null;
                    break;
                case 'update':
                    this.createSportModal = true;
                    break;
                case 'delete':
                    this.deleteSportModal = true;
                    break;
            }
        },
        closeModal() {
            this.createSportModal = false;
            this.addSportModal = false;
        },
        async wasDeleted() {
            this.deleteSportModal = false;
            await this.fetchSports();
        },
        async paginate(options) {
            await this.fetchSports(options);
        }
    },
    computed: {
        ...mapGetters({
            sports: 'sports/sports',
            metaData: "sports/sportsMeta",
            currentUser: "users/currentUser"
        }),
        actions() {
            return authService.getActions('App\\Models\\Sport', this.currentUser, false);
        }
    }
}
</script>

<style scoped>

</style>
