<template>
    <Head title="Online Platforms"></Head>

    <AuthenticatedLayout>
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">Online Platforms</h2>
        </template>

        <Table
            @create="openModal('create')"
            @update="openModal('update', $event)"
            @delete="openModal('delete', $event)"
            @paginate="paginate($event)"
            createLabel="Create"
            :headers="headers"
            :items="onlinePlatforms"
            :actions="actions"
            :metaData="metaData"
        />

        <CreateOnlinePlatformModal
            v-if="createOnlinePlatformModal"
            :show="createOnlinePlatformModal"
            @close="closeModal"
            :onlinePlatform="selectedOnlinePlatform"
            :is-update="!!selectedOnlinePlatform"
        />

        <DeleteModal
            v-if="deleteOnlinePlatformModal"
            :show="deleteOnlinePlatformModal"
            model-name="Online Platform"
            :model="selectedOnlinePlatform"
            vuex-action="online_platforms/deleteOnlinePlatform"
            @close="deleteOnlinePlatformModal = false"
            @deleted="wasDeleted"
        />
    </AuthenticatedLayout>
</template>

<script>
import {Head} from '@inertiajs/vue3';
import AuthenticatedLayout from "@/Layouts/AuthenticatedLayout.vue";
import Table from "@/Components/Table/Table.vue";
import {mapActions, mapGetters} from "vuex";
import searchQuery from "@/store/models/search-query";
import {headers} from "@/Services/TableService/Headers/online-platforms-headers";
import CreateOnlinePlatformModal from "@/Pages/OnlinePlatform/Modal/CreateOnlinePlatformModal.vue";
import DeleteModal from "@/Components/Modals/Components/DeleteModal.vue";
import {AuthService} from "@/Services/AuthService/auth-service";

export default {
    name: "Index",
    components: {
        CreateOnlinePlatformModal,
        Head,
        AuthenticatedLayout,
        Table,
        DeleteModal
    },
    data() {
        return {
            selectedOnlinePlatform: null,
            createOnlinePlatformModal: false,
            deleteOnlinePlatformModal: false,
            searchQuery: searchQuery,
            headers: headers,
            authService: new AuthService()
        }
    },
    async created() {
        await this.fetchOnlinePlatforms(this.searchQuery);
    },
    computed: {
        ...mapGetters({
            onlinePlatforms: "online_platforms/onlinePlatforms",
            metaData: "online_platforms/onlinePlatformsMeta",
            currentUser: "users/currentUser"
        }),
        actions() {
            return this.authService.getActions('App\\Models\\OnlinePlatform', this.currentUser, false);
        }
    },
    methods: {
        ...mapActions({
            fetchOnlinePlatforms: "online_platforms/fetchOnlinePlatforms"
        }),
        openModal(type, onlinePlatform) {
            if (!!onlinePlatform) {
                this.selectedOnlinePlatform = onlinePlatform;
            }

            switch (type) {
                case 'create':
                    this.createOnlinePlatformModal = true;
                    this.selectedOnlinePlatform = null;
                    break;
                case 'update':
                    this.createOnlinePlatformModal = true;
                    break;
                case 'delete':
                    this.deleteOnlinePlatformModal = true;
                    break;
            }
        },
        closeModal() {
            this.createOnlinePlatformModal = false;
            this.deleteOnlinePlatformModal = false;
            this.selectedOnlinePlatform = null;
        },
        async wasDeleted() {
            this.closeModal();
            await this.paginate(this.searchQuery);
        },
        async paginate(options) {
            await this.fetchOnlinePlatforms(options);
        }
    }
}
</script>

<style scoped>

</style>
