<template>
    <label class="block font-medium text-sm">
        <span v-if="value">{{ value }} {{ isRequired ? '*' : '' }}</span>
        <span v-else><slot /></span>
    </label>
</template>

<script>

export default {
    name: 'InputLayout',
    props: {
        value: {
            required: true,
            type: String,
        },
        isRequired: {
            required: false,
            type: Boolean,
            default: false
        }
    }
}
</script>
