<template>
    <div>
        <InputLabel v-if="!!label" :value="label" :isRequired="isRequired" />
        <component
            :is="component"
            :type="type"
            :placeholder="placeholder"
            :required="isRequired"
            :disabled="isDisabled"
            :options="options"
            :emptyValue="emptyValue"
            :modelValue="value"
            :maxDate="maxDate"
            v-model="value"
            @update:modelValue="$emit('update:value', $event)"
            class="block w-full"
            :class="{
                'mt-1': !!label,
                'error': hasError
            }"
        ></component>
        <InputError class="mt-2" v-if="errorMessage" :message="errorMessage" />
    </div>
</template>

<script>
import InputLabel from "@/Components/Form/InputLabel.vue";
import InputError from "@/Components/Form/InputError.vue";
import TextInput from "@/Components/Form/InputTypes/TextInput.vue";
import TextareaInput from "@/Components/Form/InputTypes/TextareaInput.vue";
import SelectInput from "@/Components/Form/InputTypes/SelectInput.vue";
import DateInput from "@/Components/Form/InputTypes/DateInput.vue";

export default {
    name: "InputField",
    components: {
        TextInput,
        TextareaInput,
        InputError,
        InputLabel,
        SelectInput,
        DateInput
    },
    watch: {
        inputValue: {
            handler() {
                this.setDefaultValue();
            },
            deep: true
        }
    },
    data() {
        return {
            components: {
                text: 'TextInput',
                textarea: 'TextareaInput',
                email: 'TextInput',
                password: 'TextInput',
                select: 'SelectInput',
                date: 'DateInput'
            },
            component: null,
            value: null
        }
    },
    props: {
        componentType: {
            required: false,
            type: String,
            default: 'text'
        },
        errorMessage: {
            required: false,
            type: String,
            default: null
        },
        hasError: {
            required: false,
            type: Boolean,
            default: false
        },
        label: {
          required: false,
          type: String,
          default: null
        },
        isRequired: {
            required: false,
            type: Boolean,
            default: false
        },
        isDisabled: {
            required: false,
            type: Boolean,
            default: false
        },
        placeholder: {
            required: false,
            type: String,
            default: ''
        },
        options: {
            required: false,
            type: Array,
            default: []
        },
        inputValue: {
            required: false,
        },
        emptyValue: {
            required: false,
            type: String,
            default: null
        },
        maxDate: {
            required: false,
            default: new Date()
        }
    },
    created() {
        this.component = this.components[this.componentType];
        this.setDefaultValue();
    },
    computed: {
        type() {
            switch (this.component) {
                case 'TextInput':
                case 'TextareaInput':
                    return this.componentType;
                default:
                    return null;
            }
        }
    },
    methods: {
        setDefaultValue() {
            if (!!this.inputValue) {
                switch (this.component) {
                    case 'DateInput':
                        this.value = new Date(this.inputValue);
                        break;
                    default:
                        this.value = this.inputValue;
                }
            } else {
                switch (this.component) {
                    case 'TextInput':
                    case 'TextareaInput':
                        this.value = '';
                        break;
                    case 'SelectInput':
                        this.value = 0;
                        break;
                    default:
                        this.value = null;
                }
            }
        }
    }
}
</script>

<style scoped>
.error {
    border-color: red;
}
</style>
