<template>
   <div>
       <notifications />
       <GuestLayout v-if="!currentUser" />
       <AuthenticatedLayout v-else />
   </div>
</template>

<script>
import {mapActions, mapGetters} from "vuex";
import GuestLayout from "@/Layouts/GuestLayout.vue";
import AuthenticatedLayout from "@/Layouts/AuthenticatedLayout.vue";

export default {
    name: 'App',
    components: {AuthenticatedLayout, GuestLayout},
    async created() {
        await this.fetchCurrentUser();
    },
    computed: {
        ...mapGetters({
            currentUser: "users/currentUser"
        })
    },
    methods: {
        ...mapActions({
            fetchCurrentUser: "users/fetchCurrentUser"
        })
    }
}
</script>

<style>

</style>
