<template>
    <Head title="Roles"></Head>

    <AuthenticatedLayout>
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">Roles</h2>
        </template>
        <Table
            createLabel="Create Role"
            :headers="headers"
            :items="roles"
            :actions="actions"
            :hide-pagination="true"
            @create="createRole"
            @update="editRole($event)"
            @delete="deleteRole($event)"
            @view="viewRole($event)"
        />
        <CreateRoleModal
            v-if="createRoleModal"
            :role="selectedRole"
            :show="createRoleModal"
            :is-update="!!selectedRole"
            @close="createRoleModal = false"
        />
        <DeleteModal
            v-if="deleteRoleModal"
            :show="deleteRoleModal"
            vuex-action="roles/deleteRole"
            model-name="Role"
            :model="selectedRole"
            @close="deleteRoleModal = false"
            @deleted="wasDeleted"
        />
    </AuthenticatedLayout>
</template>

<script>
import {Head} from '@inertiajs/vue3';
import AuthenticatedLayout from "@/Layouts/AuthenticatedLayout.vue";
import Table from "@/Components/Table/Table.vue";
import {headers} from "@/Services/TableService/Headers/roles-headers";
import {mapActions, mapGetters} from "vuex";
import CreateRoleModal from "@/Pages/Role/Modals/CreateRoleModal.vue";
import DeleteModal from "@/Components/Modals/Components/DeleteModal.vue";
import {AuthService} from "@/Services/AuthService/auth-service";

export default {
    name: "Index",
    components: {
        DeleteModal,
        CreateRoleModal,
        Table,
        AuthenticatedLayout,
        Head
    },
    data() {
        return {
            headers: headers,
            createRoleModal: false,
            deleteRoleModal: false,
            selectedRole: null,
            authService: new AuthService()
        }
    },
    computed: {
        ...mapGetters({
            roles: "roles/roles",
            currentUser: "users/currentUser"
        }),
        actions() {
            return this.authService.getActions('Spatie\\Permission\\Models\\Role', this.currentUser, false);
        }
    },
    async created() {
        await this.fetchRoles();
    },
    methods: {
        ...mapActions({
            fetchRoles: "roles/fetchRoles",
        }),
        viewRole(role) {
            const url = route('roles.view', {id: role.id});
            this.$inertia.visit(url);
        },
        createRole() {
            this.selectedRole = null;
            this.createRoleModal = true;
        },
        editRole(role) {
            this.selectedRole = role;
            this.createRoleModal = true;
        },
        deleteRole(role) {
            this.selectedRole = role;
            this.deleteRoleModal = true;
        },
        async wasDeleted() {
            this.deleteRoleModal = false;
            await this.fetchRoles();
        }
    }
}
</script>

<style scoped>

</style>
