<template>
    <Head title="Role" />
    <AuthenticatedLayout>
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">Role: {{ role.name }}</h2>
        </template>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8 space-y-6">
                <div class="p-4 sm:p-8 bg-white shadow sm:rounded-lg" v-if="!!role.id">
                    <header>
                        <h2 class="text-lg font-medium text-gray-900">Role Information</h2>
                    </header>
                    <div class="roles_information">
                        <InputField
                            class="add-role-modal_input"
                            placeholder="Enter role name"
                            label="Name"
                            :input-value="role.name"
                            @update:value="role.name = $event"
                            :hasError="validationErrorHandler.hasError('name')"
                            :errorMessage="validationErrorHandler.getMessage('name')"
                            :is-disabled="true"
                        ></InputField>
                        <InputField :is-disabled="true" label="Guard name" :input-value="role.guard_name" />
                    </div>
                </div>

                <div class="p-4 sm:p-8 bg-white shadow sm:rounded-lg" v-if="!!role.id">
                    <header>
                        <h2 class="text-lg font-medium text-gray-900">Role Permissions</h2>
                    </header>
                    <div class="permissions">
                        <div class="permission_domain" v-for="domain in domainsSelectOptions">
                            <h4>{{ domain.label }}</h4>
                            <div class="permission_actions">
                                <div
                                    class="permission_action"
                                    v-for="permission in getPermissionsByModel(domain.value)"
                                >
                                    <checkbox
                                        @update:checked="togglePermission(permission.id, $event)"
                                        :checked="isChecked(permission.id)"
                                    />
                                    {{ permission.action }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <PrimaryButton @click="sync">
                        Sync permissions
                    </PrimaryButton>
                </div>
            </div>
        </div>
    </AuthenticatedLayout>
</template>

<script>
import { Head } from '@inertiajs/vue3';
import AuthenticatedLayout from "@/Layouts/AuthenticatedLayout.vue";
import {mapActions, mapGetters} from "vuex";
import RouteHelper from "@/Services/HttpService/route";
import InputField from "@/Components/Form/InputField.vue";
import Checkbox from "@/Components/Checkbox.vue";
import ValidationErrorHandler from "@/Services/ValidationErrors/ValidationErrorHandler";
import PrimaryButton from "@/Components/Buttons/PrimaryButton.vue";
import Notifications from "@/Services/Notiffications/notifications";

export default {
    name: "Show",
    components: {PrimaryButton, Checkbox, InputField, AuthenticatedLayout, Head},
    data() {
        return {
            routeHelper: new RouteHelper(),
            validationErrorHandler: new ValidationErrorHandler(),
            notifications: new Notifications(),
            selectedPermissions: []
        }
    },
    async created() {
        await this.fetchData();

        this.selectedPermissions = this.role.permissions.map(permission => permission.id);
    },
    computed: {
        ...mapGetters({
            role: "roles/role",
            permissions: "permissions/permissions",
            domainsSelectOptions: "permissions/domainSelectOptions"
        })
    },
    methods: {
        ...mapActions({
            fetchRole: "roles/fetchRole",
            fetchPermissions: "permissions/fetchPermissions",
            fetchDomainSelectOptions: "permissions/fetchDomainsSelect",
            syncPermissions: "roles/syncPermissions"
        }),
        async fetchData() {
            const id = this.routeHelper.getIdParam(window.location.pathname, 'roles');
            await this.fetchRole(id);

            await this.fetchPermissions({
                per_page: 100
            });
            await this.fetchDomainSelectOptions();
        },
        getPermissionsByModel(domain) {
            return  this.permissions.filter(permission => {
                return permission.class === domain;
            });
        },
        isChecked(id) {
            return !!this.role.permissions.find(permission => {
                return permission.id === id;
            })
        },
        async sync() {
            const payload = {
                role_id: this.role.id,
                permissions: this.selectedPermissions
            }

            await this.syncPermissions(payload)
                .then(response => {
                    this.fetchRole(this.role.id);
                    this.notifications.success(response.data.message);
                }).catch(error => {
                    this.notifications.error(error.response.data.message);
                });
        },
        togglePermission(id, value) {
            if (value) {
                this.selectedPermissions.push(id);
            } else {
                const index = this.selectedPermissions.indexOf(id);
                this.selectedPermissions.splice(index, 1);
            }
        }
    }
}
</script>

<style lang="scss" scoped>
.roles_information {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;

    margin: 20px 0;
}

.permissions {
    display: flex;
    align-items: flex-start;
    flex-grow: 1;
    gap: 60px;

    margin: 20px 0;
    border: 1px solid darkgrey;
    border-radius: 8px;
    padding: 15px;
}

.permission_domain {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100px;

    h4 {
        font-weight: 500;
        border-bottom: 1px solid darkgrey;
    }
}

.permission_action {
    display: flex;
    align-items: center;
    gap: 10px;
}
</style>
