<template>
    <section class="space-y-6">
        <header>
            <h2 class="text-lg font-medium text-gray-900">
                {{ $t('profile.delete') }}
            </h2>

            <p class="mt-1 text-sm text-gray-600">
                {{ $t('profile.deleteInformation') }}
            </p>
        </header>

        <DangerButton @click="confirmingUserDeletion = true">
            {{ $t('profile.delete') }}
        </DangerButton>

        <Modal :show="confirmingUserDeletion" @close="confirmingUserDeletion = false">
            <div class="p-6">
                <h2 class="text-lg font-medium text-gray-900">
                    {{ $t('profile.sureToDelete') }}
                </h2>

                <p class="mt-1 text-sm text-gray-600">
                    {{ $t('profile.deleteInformation') }}
                </p>

                <div class="mt-6 flex justify-end">
                    <SecondaryButton @click="confirmingUserDeletion = false">
                        {{ $t('form.action.cancel') }}
                    </SecondaryButton>

                    <DangerButton class="ml-3" @click="deleteUserAction">
                        {{ $t('profile.delete') }}
                    </DangerButton>
                </div>
            </div>
        </Modal>
    </section>
</template>

<script>
import DangerButton from '@/Components/Buttons/DangerButton.vue';
import Modal from '@/Components/Modals/Modal.vue';
import SecondaryButton from '@/Components/Buttons/SecondaryButton.vue';
import {mapActions, mapGetters} from "vuex";
import ValidationErrorHandler from "@/Services/ValidationErrors/ValidationErrorHandler";
import Notifications from "@/Services/Notiffications/notifications";

export default {
    name: "DeleteUserForm",
    components: {SecondaryButton, Modal, DangerButton},
    data() {
        return {
            confirmingUserDeletion: false,
            validationErrorHandler: new ValidationErrorHandler(),
            notifications: new Notifications(),
        }
    },
    computed: {
        ...mapGetters({
            currentUser: "users/currentUser"
        })
    },
    methods: {
        ...mapActions({
            deleteUser: "users/deleteUser"
        }),
        async deleteUserAction() {
            await this.deleteUser(this.currentUser)
                .then(response => {
                    this.notifications.success(response.data.message);
                    this.$inertia.visit('/');
                })
                .catch(error => {
                    if (error.response.status === 422) {
                        this.validationErrorHandler.setErrors(error.response.data.errors);
                    }

                    this.notifications.error(error.response.data.message);
                });
        }
    }
}
</script>
