<template>
    <section>
        <header>
            <h2 class="text-lg font-medium text-gray-900">
                {{ $t('form.password') }}
            </h2>

            <p class="mt-1 text-sm text-gray-600">
                {{ $t('profile.updatePassword') }}
            </p>
        </header>

        <div class="mt-6 space-y-6">
            <InputField
                :label="$t('form.currentPassword')"
                component-type="password"
                :input-value="password.current"
                @update:value="password.current = $event"
                :hasError="validationErrorHandler.hasError('current_password')"
                :errorMessage="validationErrorHandler.getMessage('current_password')"
            />
            <InputField
                :label="$t('form.newPassword')"
                component-type="password"
                :input-value="password.new"
                @update:value="password.new = $event"
                :hasError="validationErrorHandler.hasError('password')"
                :errorMessage="validationErrorHandler.getMessage('password')"
            />
            <InputField
                :label="$t('form.confirmPassword')"
                component-type="password"
                :input-value="password.confirm"
                @update:value="password.confirm = $event"
                :hasError="validationErrorHandler.hasError('password_confirmation')"
                :errorMessage="validationErrorHandler.getMessage('password_confirmation')"
            />

            <div class="flex items-center gap-4">
                <PrimaryButton @click="updatePassword">
                    {{ $t('form.action.save') }}
                </PrimaryButton>
            </div>
        </div>
    </section>
</template>

<script>
import PrimaryButton from "@/Components/Buttons/PrimaryButton.vue";
import InputField from "@/Components/Form/InputField.vue";
import {mapActions, mapGetters} from "vuex";
import ValidationErrorHandler from "@/Services/ValidationErrors/ValidationErrorHandler";
import Notifications from "@/Services/Notiffications/notifications";

export default {
    name: "UpdatePasswordForm",
    components: {InputField, PrimaryButton},
    data() {
        return {
            password: {
                current: null,
                new: null,
                confirm: null,
            },
            validationErrorHandler: new ValidationErrorHandler(),
            notifications: new Notifications(),
        }
    },
    watch: {
        password: {
            handler() {
                this.validationErrorHandler.dropErrors();
            },
            deep: true
        }
    },
    computed: {
        ...mapGetters({
            currentUser: "users/currentUser"
        })
    },
    methods: {
        ...mapActions({
            updateUserPassword: "users/updateUserPassword"
        }),
        async updatePassword() {
            const payload = {
                current_password: this.password.current,
                password: this.password.new,
                password_confirmation: this.password.confirm
            }

            await this.updateUserPassword(payload)
                .then(response => {
                    this.notifications.success(response.data.message);
                    this.password = {
                        current: null,
                        new: null,
                        confirm: null,
                    }
                })
                .catch(error => {
                    if (error.response.status === 422) {
                        this.validationErrorHandler.setErrors(error.response.data.errors);
                    }

                    this.notifications.error(error.response.data.message);
                });
        }
    }

}
</script>
