<template>
    <section>
        <header>
            <h2 class="text-lg font-medium text-gray-900">
                {{ $t('form.email') }}
            </h2>

            <p class="mt-1 text-sm text-gray-600">
                {{ $t('profile.updateEmailInfo') }}
            </p>
        </header>

        <div class="mt-6 space-y-6">
            <div>
                <InputField
                    @update:value="currentUser.email = $event"
                    :input-value="currentUser.email"
                    v-model="currentUser.email"
                    component-type="email"
                    :label="$t('form.email')"
                    :hasError="validationErrorHandler.hasError('email')"
                    :errorMessage="validationErrorHandler.getMessage('email')"
                ></InputField>
            </div>

            <div class="flex items-center gap-4">
                <PrimaryButton @click="updateEmail">
                    {{ $t('form.action.save') }}
                </PrimaryButton>
            </div>
        </div>
    </section>
</template>

<script>
import PrimaryButton from '@/Components/Buttons/PrimaryButton.vue';
import InputField from "@/Components/Form/InputField.vue";
import {mapActions, mapGetters} from "vuex";
import ValidationErrorHandler from "@/Services/ValidationErrors/ValidationErrorHandler";
import Notifications from "@/Services/Notiffications/notifications";

export default {
    name: 'UpdateEmailForm',
    components: {
        InputField,
        PrimaryButton,
    },
    data() {
        return {
            validationErrorHandler: new ValidationErrorHandler(),
            notifications: new Notifications(),
        }
    },
    computed: {
        ...mapGetters({
            currentUser: "users/currentUser"
        })
    },
    methods: {
        ...mapActions({
            updateUser: "users/updateUser",
            fetchCurrentUser: "users/fetchCurrentUser"
        }),
        async updateEmail() {
            const payload = {
                id: this.currentUser.id,
                email: this.currentUser.email
            }

            await this.updateUser(payload)
                .then(response => {
                    this.notifications.success(response.data.message);
                    this.fetchCurrentUser();
                })
                .catch(error => {
                    if (error.response.status === 422) {
                        this.validationErrorHandler.setErrors(error.response.data.errors);
                    }

                    this.notifications.error(error.response.data.message);
                });
        }
    }
}
</script>
