<template>
    <section>
        <header>
            <h2 class="text-lg font-medium text-gray-900">
                {{ $t('profile.information') }}
            </h2>

            <p class="mt-1 text-sm text-gray-600">
                {{ $t('profile.updateInformation') }}
            </p>
        </header>

        <div class="mt-6 space-y-6">
            <div>
                <InputField
                    @update:value="currentUser.profile.first_name = $event"
                    :input-value="currentUser.profile.first_name"
                    v-model="currentUser.profile.first_name"
                    component-type="text"
                    :label="$t('form.firstName')"
                    :placeholder="$t('form.placeholder.firstName')"
                    :hasError="validationErrorHandler.hasError('first_name')"
                    :errorMessage="validationErrorHandler.getMessage('first_name')"
                ></InputField>
            </div>
            <div>
                <InputField
                    @update:value="currentUser.profile.last_name = $event"
                    :input-value="currentUser.profile.last_name"
                    v-model="currentUser.profile.last_name"
                    component-type="text"
                    :label="$t('form.lastName')"
                    :placeholder="$t('form.placeholder.lastName')"
                    :hasError="validationErrorHandler.hasError('last_name')"
                    :errorMessage="validationErrorHandler.getMessage('last_name')"
                ></InputField>
            </div>
            <div>
                <GenderSelect
                    :has-label="true"
                    :input-value="currentUser.profile.gender"
                    @change="currentUser.profile.gender = $event"
                    :hasError="validationErrorHandler.hasError('gender')"
                    :errorMessage="validationErrorHandler.getMessage('gender')"
                />
            </div>
            <div>
                <InputField
                    @update:value="currentUser.profile.bio = $event"
                    :input-value="currentUser.profile.bio"
                    v-model="currentUser.profile.bio"
                    component-type="textarea"
                    :label="$t('form.biography')"
                    :placeholder="$t('form.placeholder.biography')"
                    :hasError="validationErrorHandler.hasError('bio')"
                    :errorMessage="validationErrorHandler.getMessage('bio')"
                ></InputField>
            </div>
            <div>
                <InputField
                    @update:value="currentUser.profile.date_of_birth = $event"
                    :input-value="currentUser.profile.date_of_birth"
                    v-model="currentUser.profile.date_of_birth"
                    component-type="date"
                    :label="$t('form.dateOfBirth')"
                    :hasError="validationErrorHandler.hasError('date_of_birth')"
                    :errorMessage="validationErrorHandler.getMessage('date_of_birth')"
                ></InputField>
            </div>
            <div>
                <InputField
                    @update:value="currentUser.profile.country = $event"
                    :input-value="currentUser.profile.country"
                    v-model="currentUser.profile.country"
                    :label="$t('form.country')"
                    :hasError="validationErrorHandler.hasError('country')"
                    :errorMessage="validationErrorHandler.getMessage('country')"
                ></InputField>
            </div>

            <div class="flex items-center gap-4">
                <PrimaryButton @click="updateProfile">
                    {{ $t('form.action.save') }}
                </PrimaryButton>
            </div>
        </div>
    </section>
</template>

<script>
import PrimaryButton from '@/Components/Buttons/PrimaryButton.vue';
import InputField from "@/Components/Form/InputField.vue";
import {mapActions, mapGetters} from "vuex";
import ValidationErrorHandler from "@/Services/ValidationErrors/ValidationErrorHandler";
import Notifications from "@/Services/Notiffications/notifications";
import GenderSelect from "@/Components/Selects/GenderSelect.vue";

export default {
    name: 'UpdateProfileForm',
    components: {
        GenderSelect,
        InputField,
        PrimaryButton
    },
    data() {
        return {
            validationErrorHandler: new ValidationErrorHandler(),
            notifications: new Notifications(),
        }
    },
    watch: {
        currentUser: {
            handler(user) {
                Object.keys(user).forEach(field => {
                    if (!!user[field]) {
                        this.validationErrorHandler.dropError(field);
                    }
                });
            },
            deep: true
        }
    },
    computed: {
        ...mapGetters({
            currentUser: "users/currentUser"
        })
    },
    methods: {
        ...mapActions({
            updateUser: "users/updateUser"
        }),
        async updateProfile() {
            await this.updateUser(this.currentUser)
                .then(response => {
                    this.notifications.success(response.data.message);
                    this.fetchCurrentUser();
                })
                .catch(error => {
                    if (error.response.status === 422) {
                        this.validationErrorHandler.setErrors(error.response.data.errors);
                    }

                    this.notifications.error(error.response.data.message);
                });
        }
    }
}
</script>
