<template>
    <Modal :show="show" @close="$emit('close')">
        <div class="add-sport-modal">
            <h1 class="add-sport-modal_header">Add Sport</h1>
            <div class="add-sport-modal_form">
                <SportSelect
                    :payload="selectPayload"
                    @change="sportId = $event"
                />

                <PrimaryButton class="add-sport-modal_button" @click="attachSportFunction">
                    <p>Add</p>
                </PrimaryButton>
            </div>
        </div>
    </Modal>
</template>

<script>
import Modal from "@/Components/Modals/Modal.vue";
import {mapActions, mapGetters} from "vuex";
import PrimaryButton from "@/Components/Buttons/PrimaryButton.vue";
import SportSelect from "@/Components/Selects/SportSelect.vue";
import Notifications from "@/Services/Notiffications/notifications";

export default {
    name: "AddSportModal",
    components: {SportSelect, PrimaryButton, Modal},
    props: {
        show: {
            required: true,
            type: Boolean
        },
        sportsIds: {
            required: true,
            type: Array
        },
        userId: {
            required: true,
            type: Number
        }
    },
    data() {
        return {
            sportId: null,
            notifications: new Notifications()
        }
    },
    computed: {
        selectPayload() {
            return {sports_ids: this.sportsIds}
        }
    },
    methods: {
        ...mapActions({
            attachSport: 'sports/attachSport',
            fetchUser: "users/fetchUser"
        }),
        async attachSportFunction() {
            const payload = {
                sport_id: this.sportId,
                user_id: this.userId
            }

            await this.attachSport(payload)
                .then(response => {
                    this.fetchUser(this.userId);
                    this.notifications.success(response.data.message);
                    this.$emit('close');
                })
                .catch(error => {
                    this.notifications.error(error.response.data.message);
                });
        }
    }
}
</script>

<style lang="scss" scoped>
.add-sport-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    gap: 30px;

    &_header {
        line-height: 1.25;
        font-weight: 600;
        font-size: 1.25rem;
    }

    &_form {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
    }

    &_input {
        width: 250px;
    }
}
</style>
