<template>
    <Modal :show="show" @close="$emit('close')">
        <div class="sport-modal">
            <h1 class="sport-modal_header">{{ isUpdate ? 'Update' : 'Create' }} Sport</h1>
            <div class="sport-modal_form">
                <InputField
                    class="sport-modal_input"
                    placeholder="Enter sport name"
                    :is-required="true"
                    :input-value="sportName"
                    @update:value="sportName = $event"
                    :hasError="validationErrorHandler.hasError('name')"
                    :errorMessage="validationErrorHandler.getMessage('name')"
                ></InputField>

                <PrimaryButton class="sport-modal_button" @click="createOrUpdateSport">
                    <p>{{ isUpdate ? 'Update' : 'Create' }}</p>
                </PrimaryButton>
            </div>
        </div>
    </Modal>
</template>

<script>
import Modal from "@/Components/Modals/Modal.vue";
import {mapActions} from "vuex";
import PrimaryButton from "@/Components/Buttons/PrimaryButton.vue";
import TextInput from "@/Components/Form/InputTypes/TextInput.vue";
import ValidationErrorHandler from "@/Services/ValidationErrors/ValidationErrorHandler";
import InputField from "@/Components/Form/InputField.vue";
import Notifications from "@/Services/Notiffications/notifications";

export default {
    name: "CreateSportModal",
    components: {InputField, TextInput, PrimaryButton, Modal},
    props: {
        show: {
            required: true,
            type: Boolean
        },
        sport: {
            required: false,
            type: Object,
            default: null
        },
        isUpdate: {
            required: false,
            type: Boolean,
            default: false
        }
    },
    data() {
        return {
            sportName: '',
            validationErrorHandler: new ValidationErrorHandler(),
            notifications: new Notifications()
        }
    },
    created() {
        this.sportName = !!this.sport ? this.sport.name : this.sportName;
    },
    watch: {
        sport() {
            this.validationErrorHandler.dropErrors();
        }
    },
    methods: {
        ...mapActions({
            fetchSports: "sports/fetchSports",
            storeSport: "sports/storeSport",
            updateSport: "sports/updateSport"
        }),
        async createOrUpdateSport() {
            const payload = {
                id: !!this.sport ? this.sport.id : null,
                name: this.sportName
            }

            const action = this.isUpdate ? this.updateSport : this.storeSport;

            await action(payload)
                .then(response => {
                    this.fetchSports();
                    this.$emit('close');
                    this.notifications.success(response.data.message)
                })
                .catch(error => {
                    if (error.response.status === 422) {
                        this.validationErrorHandler.setErrors(error.response.data.errors);
                    }

                    this.notifications.error(error.response.data.message);
                });
        }
    }
}
</script>

<style lang="scss" scoped>
.sport-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    gap: 30px;

    &_header {
        line-height: 1.25;
        font-weight: 600;
        font-size: 1.25rem;
    }

    &_form {
        display: flex;
        align-items: flex-start;
        justify-content: space-evenly;
        width: 100%;
    }

    &_input {
        width: 250px;
    }

    &_button {
        height: 42px;
    }
}
</style>
