<template>
    <Modal :show="show" @close="$emit('close')">
        <div class="add-user-modal">
            <h1 class="add-user-modal_header">Add User</h1>
            <div class="add-user-modal_form">
                <UserSelect
                    :payload="selectPayload"
                    @change="userId = $event"
                    :is-disabled="authService.isStudent(currentUser)"
                />

                <PrimaryButton class="add-user-modal_button" @click="attachUserFunction">
                    <p>Add</p>
                </PrimaryButton>
            </div>
        </div>
    </Modal>
</template>

<script>
import Modal from "@/Components/Modals/Modal.vue";
import UserSelect from "@/Components/Selects/UserSelect.vue";
import PrimaryButton from "@/Components/Buttons/PrimaryButton.vue";
import {mapActions, mapGetters} from "vuex";
import Notifications from "@/Services/Notiffications/notifications";
import {AuthService} from "@/Services/AuthService/auth-service";

export default {
    name: "AddUserModal",
    components: {PrimaryButton, UserSelect, Modal},
    data() {
        return {
            userId: null,
            notifications: new Notifications(),
            authService: new AuthService()
        }
    },
    props: {
        show: {
            required: true,
            type: Boolean
        },
        usersIds: {
            required: true,
            type: Array
        },
        trainingId: {
            required: true,
            type: Number
        }
    },
    computed: {
        ...mapGetters({
            currentUser: "users/currentUser"
        }),
        selectPayload() {
            return {
                users_ids: this.usersIds,
                role: 'student'
            }
        }
    },
    methods: {
        ...mapActions({
            attachUserToTraining: "trainings/attachUserToTraining",
            fetchTraining: "trainings/fetchTraining"
        }),
        async attachUserFunction() {
            const payload = {
                user_id: this.userId,
                training_id: this.trainingId
            }

            await this.attachUserToTraining(payload)
                .then(response => {
                    this.fetchTraining(this.trainingId);
                    this.notifications.success(response.data.message);
                    this.$emit('close');
                })
                .catch(error => {
                    this.notifications.error(error.response.data.message);
                });
        }
    }
}
</script>

<style lang="scss" scoped>
.add-user-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    gap: 30px;

    &_header {
        line-height: 1.25;
        font-weight: 600;
        font-size: 1.25rem;
    }

    &_form {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
    }

    &_input {
        width: 250px;
    }
}
</style>
