<template>
    <Modal :show="show" @close="$emit('close')">
        <div class="user-modal">
            <h1 class="user-modal_header">{{ isUpdate ? 'Update' : 'Create' }} User</h1>
            <div class="user-modal_form">
                <InputField
                    class="w-50"
                    component-type="email"
                    label="Email"
                    placeholder="Enter email"
                    :is-required="true"
                    :input-value="newUser.email"
                    @update:value="newUser.email = $event"
                    :hasError="validationErrorHandler.hasError('email')"
                    :errorMessage="validationErrorHandler.getMessage('email')"
                />

                <div class="flex w-100">
                    <InputField
                        class="w-50"
                        component-type="text"
                        label="First name"
                        placeholder="Enter first name"
                        :is-required="true"
                        :input-value="newUser.first_name"
                        @update:value="newUser.first_name = $event"
                        :hasError="validationErrorHandler.hasError('first_name')"
                        :errorMessage="validationErrorHandler.getMessage('first_name')"
                    />

                    <InputField
                        class="w-50"
                        component-type="text"
                        label="Last name"
                        placeholder="Enter last name"
                        :is-required="true"
                        :input-value="newUser.last_name"
                        @update:value="newUser.last_name = $event"
                        :hasError="validationErrorHandler.hasError('last_name')"
                        :errorMessage="validationErrorHandler.getMessage('last_name')"
                    />
                </div>

                <div class="flex w-100">
                    <GenderSelect
                        class="w-50"
                        :has-label="true"
                        :input-value="newUser.gender"
                        @change="newUser.gender = $event"
                        :hasError="validationErrorHandler.hasError('gender')"
                        :errorMessage="validationErrorHandler.getMessage('gender')"
                    />

                    <RoleSelect
                        class="w-50"
                        :has-label="true"
                        :input-value="newUser.role_id"
                        @change="newUser.role_id = $event"
                        :hasError="validationErrorHandler.hasError('role_id')"
                        :errorMessage="validationErrorHandler.getMessage('role_id')"
                    />
                </div>

                <InputField
                    class="w-100"
                    component-type="textarea"
                    label="Biography"
                    :input-value="newUser.bio"
                    @update:value="newUser.bio = $event"
                    :hasError="validationErrorHandler.hasError('bio')"
                    :errorMessage="validationErrorHandler.getMessage('bio')"
                />

                <div class="flex w-100">
                    <InputField
                        class="w-50"
                        component-type="date"
                        label="Date of birth"
                        :input-value="newUser.date_of_birth"
                        @update:value="newUser.date_of_birth = $event"
                        :hasError="validationErrorHandler.hasError('date_of_birth')"
                        :errorMessage="validationErrorHandler.getMessage('date_of_birth')"
                    />

                    <InputField
                        class="w-50"
                        component-type="text"
                        label="Country"
                        placeholder="Enter country"
                        :input-value="newUser.country"
                        @update:value="newUser.country = $event"
                        :hasError="validationErrorHandler.hasError('country')"
                        :errorMessage="validationErrorHandler.getMessage('country')"
                    />
                </div>
            </div>
            <PrimaryButton class="user-modal_button" @click="createOrUpdateUser">
                <p>{{ isUpdate ? 'Update' : 'Create' }}</p>
            </PrimaryButton>
        </div>
    </Modal>
</template>

<script>
import Modal from "@/Components/Modals/Modal.vue";
import {mapActions, mapGetters} from "vuex";
import PrimaryButton from "@/Components/Buttons/PrimaryButton.vue";
import TextInput from "@/Components/Form/InputTypes/TextInput.vue";
import ValidationErrorHandler from "@/Services/ValidationErrors/ValidationErrorHandler";
import InputField from "@/Components/Form/InputField.vue";
import Notifications from "@/Services/Notiffications/notifications";
import {user} from "@/store/models/user";
import GenderSelect from "@/Components/Selects/GenderSelect.vue";
import RoleSelect from "@/Components/Selects/RoleSelect.vue";

export default {
    name: "CreateUserModal",
    components: {
        RoleSelect,
        GenderSelect,
        InputField,
        TextInput,
        PrimaryButton,
        Modal
    },
    props: {
        show: {
            required: true,
            type: Boolean
        },
        userId: {
            required: false,
            default: null
        },
        isUpdate: {
            required: false,
            type: Boolean,
            default: false
        }
    },
    data() {
        return {
            validationErrorHandler: new ValidationErrorHandler(),
            notifications: new Notifications(),
            newUser: user,
        }
    },
    async created() {
        if (!!this.userId) {
            await this.fetchUser(this.userId);
            this.newUser = this.user;
        }
    },
    watch: {
        newUser: {
            handler(user) {
                Object.keys(user).forEach(field => {
                    if (!!user[field]) {
                        this.validationErrorHandler.dropError(field);
                    }
                });
            },
            deep: true
        }
    },
    computed: {
        ...mapGetters({
            user: "users/user"
        })
    },
    methods: {
        ...mapActions({
            fetchUsers: "users/fetchUsers",
            fetchUser: "users/fetchUser",
            storeUser: "users/storeUser",
            updateUser: "users/updateUser"
        }),
        async createOrUpdateUser() {
            const action = this.isUpdate ? this.updateUser : this.storeUser;

            await action(this.newUser)
                .then(response => {
                    this.fetchUsers();
                    this.$emit('close');
                    this.notifications.success(response.data.message)
                })
                .catch(error => {
                    if (error.response.status === 422) {
                        this.validationErrorHandler.setErrors(error.response.data.errors);
                    }

                    this.notifications.error(error.response.data.message);
                });
        }
    }
}
</script>

<style lang="scss" scoped>
.user-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    gap: 30px;

    &_header {
        line-height: 1.25;
        font-weight: 600;
        font-size: 1.25rem;
    }

    &_form {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
    }

    &_input {
        width: 250px;
    }

    &_button {
        height: 42px;
    }
}
</style>
