<template>
    <div>
        <PageTitle :title="$t('sideBar.users')" />
        <Table
            :createLabel="$t('table.navigation.createUser')"
            :headers="headers"
            :metaData="metaData"
            :sortData="sortData"
            :items="users"
            :actions="actions"
            @create="openModal('create')"
            @update="openModal('update', $event)"
            @delete="openModal('delete', $event)"
            @view="viewUser($event)"
            @paginate="paginate($event)"
            @search="searchQuery.search = $event"
            @clearFilters="clearFilters"
        >
            <template v-slot:filters>
                <RoleSelect @change="setFilter('role_id', $event)" />
                <GenderSelect @change="setFilter('gender', $event)" />
            </template>
        </Table>
        <CreateUserModal
            v-if="createUserModal"
            :show="createUserModal"
            :is-update="!!selectedUser"
            :user-id="selectedUser?.id"
            @close="closeModal"
        />
        <DeleteModal
            v-if="deleteUserModal"
            :show="deleteUserModal"
            vuex-action="users/deleteUser"
            model-name="User"
            :model="selectedUser"
            @close="closeModal"
            @deleted="wasDeleted"
        />
    </div>
</template>

<script>
import Table from "@/Components/Table/Table.vue";
import {mapActions, mapGetters} from "vuex";
import DeleteModal from "@/Components/Modals/Components/DeleteModal.vue";
import sortData from "@/store/models/sort-data";
import CreateUserModal from "@/Pages/User/Modal/CreateUserModal.vue";
import GenderSelect from "@/Components/Selects/GenderSelect.vue";
import RoleSelect from "@/Components/Selects/RoleSelect.vue";
import searchQuery from "@/store/models/search-query";
import {authService} from "@/Services/AuthService/auth-service";
import PageTitle from "@/Components/PageTitle.vue";

export default {
    name: "Index",
    components: {
        PageTitle,
        RoleSelect,
        GenderSelect,
        CreateUserModal,
        DeleteModal,
        Table
    },
    data() {
        return {
            sortData: sortData,
            createUserModal: false,
            deleteUserModal: false,
            selectedUser: null,
            emptySearchQuery: {...searchQuery},
        }
    },
    computed: {
        ...mapGetters({
            users: "users/users",
            metaData: "users/usersMeta",
            searchQuery: "app/searchQuery",
            currentUser: "users/currentUser"
        }),
        actions() {
            return authService.getActions('App\\Models\\User', this.currentUser, true);
        },
        headers() {
            return [
                { label: this.$t('form.firstName'), width: '10%', sortable: true, field: 'profile.first_name' },
                { label: this.$t('form.lastName'), width: '10%', sortable: true, field: 'profile.last_name' },
                { label: this.$t('form.email'), width: '15%', sortable: true, field: 'email' },
                { label: this.$t('form.role'), width: '5%', sortable: true, field: 'role.name' },
                { label: this.$t('form.gender'), width: '5%', sortable: true, field: 'profile.gender' },
                { label: this.$t('form.country'), width: '10%', sortable: true, field: 'profile.country' },
                { label: this.$t('table.actions'), width: '10%', field: 'actions' },
            ];
        }
    },
    watch: {
        searchQuery: {
            async handler(searchQuery) {
                await this.paginate(searchQuery);
            },
            deep: true
        }
    },
    methods: {
        ...mapActions({
            fetchUsers: "users/fetchUsers",
        }),
        async paginate(options) {
            this.searchQuery.page = options.page;
            this.searchQuery.per_page = options.per_page;
            this.searchQuery.column = options.column;
            this.searchQuery.direction = options.direction;

            await this.fetchUsers(this.searchQuery);
        },
        openModal(type, user) {
            if (!!user) {
                this.selectedUser = user;
            } else {
                this.selectedUser = null;
            }

            switch (type) {
                case 'create':
                case 'update':
                    this.createUserModal = true;
                    break;
                case 'delete':
                    this.deleteUserModal = true;
                    break;
            }
        },
        closeModal() {
            this.createUserModal = false;
            this.deleteUserModal = false;
            this.selectedUser = null;
        },
        setFilter(field, value) {
            this.$store.commit('app/setFilter', {field, value})
        },
        clearFilters() {
            this.$store.commit('app/setSearchQuery', {...this.emptySearchQuery});
        },
        viewUser(user) {
            const url = route('users.view', {id: user.id});
            this.$inertia.visit(url);
        },
        async wasDeleted() {
            this.deleteUserModal = false;
            await this.fetchUsers();
        }
    }
}
</script>

<style scoped>

</style>
