<template>
    <Head title="User"/>
    <AuthenticatedLayout>
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">User: {{ userFullName }}</h2>
        </template>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8 space-y-6">
                <div class="p-4 sm:p-8 bg-white shadow sm:rounded-lg" v-if="!!user.id">
                    <header>
                        <h2 class="text-lg font-medium text-gray-900">User Information</h2>
                    </header>
                    <div class="form">
                        <InputField
                            class="w-50"
                            component-type="email"
                            label="Email"
                            placeholder="Enter email"
                            :is-required="true"
                            :input-value="user.email"
                            @update:value="user.email = $event"
                            :hasError="validationErrorHandler.hasError('email')"
                            :errorMessage="validationErrorHandler.getMessage('email')"
                            :is-disabled="!canEditUser"
                        />

                        <div class="flex w-100">
                            <InputField
                                class="w-50"
                                component-type="text"
                                label="First name"
                                placeholder="Enter first name"
                                :is-required="true"
                                :input-value="user.first_name"
                                @update:value="user.first_name = $event"
                                :hasError="validationErrorHandler.hasError('first_name')"
                                :errorMessage="validationErrorHandler.getMessage('first_name')"
                                :is-disabled="!canEditUser"
                            />

                            <InputField
                                class="w-50"
                                component-type="text"
                                label="Last name"
                                placeholder="Enter last name"
                                :is-required="true"
                                :input-value="user.last_name"
                                @update:value="user.last_name = $event"
                                :hasError="validationErrorHandler.hasError('last_name')"
                                :errorMessage="validationErrorHandler.getMessage('last_name')"
                                :is-disabled="!canEditUser"
                            />
                        </div>

                        <div class="flex w-100">
                            <GenderSelect
                                class="w-50"
                                :has-label="true"
                                :input-value="user.gender"
                                @change="user.gender = $event"
                                :hasError="validationErrorHandler.hasError('gender')"
                                :errorMessage="validationErrorHandler.getMessage('gender')"
                                :is-disabled="!canEditUser"
                            />

                            <RoleSelect
                                class="w-50"
                                :has-label="true"
                                :input-value="user.role_id"
                                @change="user.role_id = $event"
                                :hasError="validationErrorHandler.hasError('role_id')"
                                :errorMessage="validationErrorHandler.getMessage('role_id')"
                                :is-disabled="!canEditUser"
                            />
                        </div>

                        <InputField
                            class="w-100"
                            component-type="textarea"
                            label="Biography"
                            :input-value="user.bio"
                            @update:value="user.bio = $event"
                            :hasError="validationErrorHandler.hasError('bio')"
                            :errorMessage="validationErrorHandler.getMessage('bio')"
                            :is-disabled="!canEditUser"
                        />

                        <div class="flex w-100">
                            <InputField
                                class="w-50"
                                component-type="date"
                                label="Date of birth"
                                :input-value="user.date_of_birth"
                                @update:value="user.date_of_birth = $event"
                                :hasError="validationErrorHandler.hasError('date_of_birth')"
                                :errorMessage="validationErrorHandler.getMessage('date_of_birth')"
                                :is-disabled="!canEditUser"
                            />

                            <InputField
                                class="w-50"
                                component-type="text"
                                label="Country"
                                placeholder="Enter country"
                                :input-value="user.country"
                                @update:value="user.country = $event"
                                :hasError="validationErrorHandler.hasError('country')"
                                :errorMessage="validationErrorHandler.getMessage('country')"
                                :is-disabled="!canEditUser"
                            />
                        </div>
                    </div>
                    <PrimaryButton
                        v-if="canEditUser"
                        class="button"
                        @click="editUser"
                    >
                        Edit User
                    </PrimaryButton>
                </div>

                <div class="p-4 sm:p-8 bg-white shadow sm:rounded-lg" v-if="!!user.id">
                    <header>
                        <h2 class="text-lg font-medium text-gray-900">User Accounts</h2>
                    </header>
                    <div class="accounts">
                        <div class="accounts_account" v-for="onlinePlatform in user.online_platforms">
                            <h4>{{ onlinePlatform.name }}</h4>
                            <div>
                                <p>Account:</p>
                                <p><i>{{ onlinePlatform.account }}</i></p>
                            </div>
                            <div class="accounts_account_actions">
                                <button v-if="canAttachAccount" @click="editAccount(onlinePlatform)">Edit</button>
                                <button v-if="canDetachAccount" class="delete" @click="deleteOnlinePlatformAccount(onlinePlatform.id)">Delete</button>
                            </div>
                        </div>
                    </div>
                    <PrimaryButton v-if="canAttachAccount" class="button" @click="createOnlinePlatformAccountModal = true">
                        Add Account
                    </PrimaryButton>

                    <CreateOnlinePlatformAccountModal
                        v-if="createOnlinePlatformAccountModal && canAttachAccount"
                        :show="createOnlinePlatformAccountModal"
                        :is-update="!!selectedOnlinePlatform"
                        :online-platform="selectedOnlinePlatform"
                        :online-platform-ids="user.online_platforms.map(platform => platform.id)"
                        @close="createOnlinePlatformAccountModal = false"
                    />
                </div>

                <div class="p-4 sm:p-8 bg-white shadow sm:rounded-lg" v-if="showSports">
                    <header>
                        <h2 class="text-lg font-medium text-gray-900">User Sports</h2>
                    </header>
                    <ol class="sports-list">
                        <li class="sports-list_sport" v-for="sport in user.sports">
                            <p class="sports-list_sport_name">
                                {{ sport.name }}
                            </p>
                            <p v-if="canDeleteSport" class="sports-list_sport_action" @click="detachSelectedSport(sport.id)">
                                Detach
                            </p>
                        </li>
                    </ol>
                    <PrimaryButton
                        v-if="canAddSport"
                        class="button"
                        @click="attachSportModal = true"
                    >
                        Add Sport
                    </PrimaryButton>

                    <AddSportModal
                        v-if="attachSportModal && canAddSport"
                        :show="attachSportModal"
                        :sports-ids="user.sports.map(sport => sport.id)"
                        :user-id="user.id"
                        @close="attachSportModal = false"
                    />
                </div>

                <div class="p-4 sm:p-8 bg-white shadow sm:rounded-lg" v-if="!!user.id">
                    <header>
                        <h2 class="text-lg font-medium text-gray-900">Calendar</h2>
                    </header>
                    <UserCalendar
                        :events="trainingCalendarEvents"
                    />
                </div>
            </div>
        </div>
    </AuthenticatedLayout>
</template>

<script>
import {Head} from '@inertiajs/vue3';
import AuthenticatedLayout from "@/Layouts/AuthenticatedLayout.vue";
import {mapActions, mapGetters} from "vuex";
import RouteHelper from "@/Services/HttpService/route";
import InputField from "@/Components/Form/InputField.vue";
import ValidationErrorHandler from "@/Services/ValidationErrors/ValidationErrorHandler";
import GenderSelect from "@/Components/Selects/GenderSelect.vue";
import RoleSelect from "@/Components/Selects/RoleSelect.vue";
import Notifications from "@/Services/Notiffications/notifications";
import PrimaryButton from "@/Components/Buttons/PrimaryButton.vue";
import AddSportModal from "@/Pages/Sport/Modals/AddSportModal.vue";
import {AuthService} from "@/Services/AuthService/auth-service";
import CreateOnlinePlatformAccountModal from "@/Pages/OnlinePlatform/Modal/CreateOnlinePlatformAccountModal.vue";
import UserCalendar from "@/Pages/User/Components/UserCalendar.vue";

export default {
    name: "View",
    components: {
        UserCalendar,
        CreateOnlinePlatformAccountModal,
        AddSportModal,
        Head,
        AuthenticatedLayout,
        InputField,
        GenderSelect,
        RoleSelect,
        PrimaryButton
    },
    data() {
        return {
            routeHelper: new RouteHelper(),
            validationErrorHandler: new ValidationErrorHandler(),
            notifications: new Notifications(),
            auth: new AuthService(),
            attachSportModal: false,
            createOnlinePlatformAccountModal: false,
            selectedOnlinePlatform: null,
        }
    },
    computed: {
        ...mapGetters({
            user: "users/user",
            currentUser: "users/currentUser"
        }),
        userFullName() {
            return this.user.first_name + ' ' + this.user.last_name
        },
        showSports() {
            return !!this.user.id && this.auth.isTrainer(this.user);
        },
        trainingCalendarEvents() {
            return this.user.trainings.map(training => {
                return {
                    title: `${training.name}; ${training.sport_name}`,
                    date: new Date(training.start_datetime)
                }
            });
        },
        canEditUser() {
            return this.auth.canUpdate('App\\Models\\User', this.currentUser.permissions)
        },
        canAddSport() {
            return this.auth.canAttach('App\\Models\\Sport', this.currentUser.permissions) && this.user.id === this.currentUser.id;
        },
        canDeleteSport() {
            return this.auth.canDetach('App\\Models\\Sport', this.currentUser.permissions) && this.user.id === this.currentUser.id;
        },
        canAttachAccount() {
            return this.auth.canAttach('App\\Models\\OnlinePlatform', this.currentUser.permissions) && this.user.id === this.currentUser.id;
        },
        canDetachAccount() {
            return this.auth.canDetach('App\\Models\\OnlinePlatform', this.currentUser.permissions) && this.user.id === this.currentUser.id;
        }
    },
    async created() {
        const id = this.routeHelper.getIdParam(window.location.pathname, 'users');
        await this.fetchUser(id);
    },
    methods: {
        ...mapActions({
            fetchUser: "users/fetchUser",
            updateUser: "users/updateUser",
            detachSport: "sports/detachSport",
            detachOnlinePlatform: "online_platforms/detachOnlinePlatform"
        }),
        closeModal() {
            this.attachSportModal = false;
            this.createOnlinePlatformAccountModal = false;
            this.selectedOnlinePlatform = null;
        },
        async editUser() {
            await this.updateUser(this.user)
                .then(response => {
                    this.fetchUser(this.user.id);
                    this.notifications.success(response.data.message);
                })
                .catch(error => {
                    this.notifications.error(error.response.data.message);
                });
        },
        editAccount(onlinePlatform) {
            this.selectedOnlinePlatform = onlinePlatform;
            this.createOnlinePlatformAccountModal = true;
        },
        async detachSelectedSport(sportId) {
            const payload = {
                sport_id: sportId,
                user_id: this.user.id,
            }

            await this.detachSport(payload)
                .then(response => {
                    this.fetchUser(this.user.id);
                    this.notifications.success(response.data.message);
                })
                .catch(error => {
                    this.notifications.error(error.response.data.message);
                });
        },
        async deleteOnlinePlatformAccount(onlinePlatformId) {
            const payload = {
                user_id: this.user.id,
                online_platform_id: onlinePlatformId
            }

            await this.detachOnlinePlatform(payload)
                .then(response => {
                    this.fetchUser(this.user.id);
                    this.notifications.success(response.data.message);
                })
                .catch(error => {
                    this.notifications.error(error.response.data.message);
                });
        }
    }
}
</script>

<style lang="scss" scoped>
.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.button {
    margin-top: 10px;
}

.sports-list {
    display: flex;
    flex-direction: column;

    border-radius: 5px;
    border: 1px solid darkgrey;
    width: 30%;
    padding: 10px;
    margin: 10px 0;

    &_sport {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &_name {
            font-weight: 600;
            border-bottom: 1px solid darkgrey;
            width: 25%;
        }

        &_action {
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.accounts {
    display: flex;
    flex-direction: row;
    gap: 40px;
    border: 1px solid darkgrey;
    border-radius: 5px;
    padding: 10px;
    flex-grow: 1;
    flex-wrap: wrap;

    &_account {
        display: flex;
        flex-direction: column;
        padding: 5px;
        border: 1px solid darkgrey;
        border-radius: 5px;
        gap: 20px;
        width: 20%;

        h4 {
            font-weight: 600;
            font-size: 20px;
            border-bottom: 1px solid darkgrey;
        }

        &_actions {
            display: flex;
            align-items: center;
            justify-content: space-between;

            button {
                border: 1px solid;
                border-radius: 5px;
                padding: 3px;
                text-align: center;
                width: 30%;
            }
        }
    }
}

.delete {
    background-color: indianred;
}
</style>
