@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: a_alternaregular, system-ui;
}

.w-25 {
    width: 25% !important;
}

.w-50 {
    width: 50% !important;
}

.w-100 {
    width: 100% !important;
}
