<template>
    <div id="dropdown" class="dropdown">
        <p id="dropdown-title" @click="show = !show">{{ title }}</p>
        <img id="dropdown-arrow" @click="show = !show" src="/images/icons/down-arrow.png" alt="down-arrow">
        <div v-if="show" class="dropdown_items">
            <p @click="$emit('click', item.value)" v-for="item in items">{{ item.label }}</p>
        </div>
    </div>
</template>

<script>
export default {
    name: "Dropdown",
    emits: ['click'],
    props: {
        title: {
            required: true,
            type: String
        },
        items: {
            required: true,
            type: Array
        }
    },
    data() {
        return {
            show: false
        }
    },
    created() {
        window.addEventListener('click', (event) => this.close(event));
    },
    methods: {
        close(event) {
            const targetId = event.target.id;

            if (this.show && targetId !== 'dropdown' && targetId !== 'dropdown-arrow' && targetId !== 'dropdown-title') {
                this.show = false;
            }
        }
    }
}
</script>

<style lang="scss" scoped>
.dropdown {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    cursor: pointer;
    position: relative;

    img {
        height: 20px;
    }

    &_items {
        position: absolute;
        background-color: #FFF;
        top: calc(100%);
        right: 0;
        width: calc(100% + 10px);
        padding: 10px 0;
        border-radius: 10px;

        p {
            padding: 0 10px;

            &:hover {
                background-color: darkgrey;
            }
        }
    }
}
</style>
