<template>
    <h2 class="page-title">{{ title }}</h2>
</template>

<script>
export default {
    name: "PageTitle",
    props: {
        title: {
            required: true,
            type: String
        }
    }
}
</script>

<style lang="scss" scoped>
.page-title {
    font-size: 28px;
}
</style>
