<template>
    <div class="auth_nav" :style="navWidth">
        <div class="auth_nav_left">
            <img :class="{'closed': !isOpen}" @click="toggleSideBar" src="/images/icons/left-arrow.png" alt="left-arrow">
        </div>
        <div class="auth_nav_right">
            <div class="auth_nav_actions">
                <router-link :to="{name: 'messages'}">
                    <img src="/images/icons/messages.png" alt="message">
                </router-link>
                <router-link :to="{name: 'notifications'}">
                    <img src="/images/icons/notifications.png" alt="notification">
                </router-link>
            </div>
            <div class="auth_nav_line"></div>
            <div class="auth_nav_profile">
                <Dropdown @click="handle($event)" :title="currentUser.profile.full_name" :items="profileItems" />
                <LanguageSelect />
            </div>
        </div>
    </div>
</template>

<script>
import Dropdown from "@/Components/Dropdown.vue";
import {mapActions, mapGetters} from "vuex";
import LanguageSelect from "@/Components/Selects/LanguageSelect.vue";

export default {
    name: "AuthNavigation",
    components: {LanguageSelect, Dropdown},
    emits: ['hideSide'],
    data() {
        return {
            isOpen: true
        }
    },
    computed: {
        ...mapGetters({
            currentUser: "users/currentUser"
        }),
        profileItems() {
            return [
                {
                    value: 'profile',
                    label: this.$t('layout.auth.profile')
                },
                {
                    value: 'logout',
                    label: this.$t('layout.auth.logout')
                }
            ];
        },
        navWidth() {
            return this.isOpen ? 'width: 85%' : 'width: 95%';
        }
    },
    methods: {
        ...mapActions({
            logoutUser: "auth/logoutUser"
        }),
        handle(action) {
            switch (action) {
                case 'profile':
                    this.$router.push({name: 'profile'});
                    break;
                case 'logout':
                    this.logout();
                    break;
            }
        },
        logout() {
            this.logoutUser()
                .then(response => {
                    if (response.status === 200) {
                        this.$store.commit('users/setCurrentUser', null);
                        this.$router.push({name: 'welcome'});
                    }
                })
        },
        toggleSideBar() {
            this.$emit('hideSide');
            this.isOpen = !this.isOpen;
        }
    }
}
</script>

<style lang="scss" scoped>
.auth_nav {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px 10px 15px;
    box-shadow: 2px 2px 10px black;
    z-index: 1;
    transition: all 0.5s;

    &_left {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 30px;

        img {
            height: 30px;
            cursor: pointer;
            rotate: 0;
            transition: all 0.5s;
        }
    }

    &_right {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        gap: 30px;
    }

    &_actions {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 15px;

        img {
            height: 30px;
        }
    }

    &_line {
        min-height: calc(4.375rem - 2rem);
        border-left: 1px solid rgba(0, 0, 0, 0.2);
    }

    &_profile {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }
}

.closed {
    rotate: 180deg;
    transition: all 0.5s;
}
</style>
