<template>
    <router-link class="item" :class="{'closed': !isOpen}" :to="{name: name}">
        <img :src="'/images/icons/'+name+'.png'" :alt="name">
        <p v-if="isOpen">{{ $t('sideBar.' + name) }}</p>
    </router-link>
</template>

<script>
export default {
    name: "SideBarItem",
    props: {
        name: {
            required: true,
            type: String
        },
        isOpen: {
            required: true,
            type: Boolean
        }
    }
}
</script>

<style lang="scss" scoped>
.item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;

    img {
        height: 30px;
    }
}

.closed {
    justify-content: center;
}
</style>
