<template>
    <div class="side-bar" :style="sideBarWidth">
        <div :class="{'closed': !isOpen}" class="side-bar_logo">
            <img src="/images/logo.png" alt="logo">
            <h3 v-if="isOpen">Easy-training tracker</h3>
        </div>
        <div class="side-bar_line"></div>
        <SideBarItem :is-open="isOpen" name="dashboard" />
        <div class="side-bar_line"></div>
        <SideBarItem :is-open="isOpen" v-for="sideBarItem in sideBarItems" :name="sideBarItem" />
    </div>
</template>

<script>
import SideBarItem from "@/Layouts/components/SideBarItem.vue";

export default {
    name: "SideBar",
    components: {SideBarItem},
    props: {
        isOpen: {
            required: false,
            type: Boolean,
            default: true
        }
    },
    data() {
        return {
            sideBarItems: [
                // 'trainings',
                'sports',
                'users',
                // 'settings'
            ]
        }
    },
    computed: {
        sideBarWidth() {
            return this.isOpen ? 'width: 15%' : 'width: 5%';
        }
    }
}
</script>

<style lang="scss" scoped>
.side-bar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #4e73df;
    color: #FFF;
    transition: all 0.5s;

    &_logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;

        img {
            height: 40px;
        }

        h3 {
            font-size: 18px;
            cursor: pointer;
        }
    }

    &_line {
        width: 100%;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        margin: 10px 0;
    }
}

.closed {
    justify-content: center;
}
</style>
