<template>
    <Head title="Permissions"></Head>

    <AuthenticatedLayout>
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">Permissions</h2>
        </template>
        <Table
            createLabel="Create Permission"
            :headers="headers"
            :items="permissions"
            :actions="actions"
            :meta-data="metaData"
            @create="createPermission"
            @update="editPermission($event)"
            @delete="deletePermission($event)"
            @paginate="paginate($event)"
        />
        <CreatePermissionModal
            v-if="createPermissionModal"
            :permission="selectedPermission"
            :show="createPermissionModal"
            :is-update="!!selectedPermission"
            @close="createPermissionModal = false"
        />
        <DeleteModal
            v-if="deletePermissionModal"
            :show="deletePermissionModal"
            vuex-action="permissions/deletePermission"
            model-name="Permission"
            :model="selectedPermission"
            @close="deletePermissionModal = false"
            @deleted="wasDeleted"
        />
    </AuthenticatedLayout>
</template>

<script>
import {Head} from '@inertiajs/vue3';
import AuthenticatedLayout from "@/Layouts/AuthenticatedLayout.vue";
import Table from "@/Components/Table/Table.vue";
import {headers} from "@/Services/TableService/Headers/permissions-headers";
import {mapActions, mapGetters} from "vuex";
import CreatePermissionModal from "@/Pages/Permission/Modals/CreatePermissionModal.vue";
import DeleteModal from "@/Components/Modals/Components/DeleteModal.vue";
import searchQuery from "@/store/models/search-query";
import {AuthService} from "@/Services/AuthService/auth-service";

export default {
    name: "Index",
    components: {
        DeleteModal,
        CreatePermissionModal,
        Table,
        AuthenticatedLayout,
        Head
    },
    data() {
        return {
            headers: headers,
            createPermissionModal: false,
            deletePermissionModal: false,
            selectedPermission: null,
            searchQuery: searchQuery,
            authService: new AuthService()
        }
    },
    computed: {
        ...mapGetters({
            permissions: "permissions/permissions",
            metaData: "permissions/permissionsMeta",
            currentUser: "users/currentUser"
        }),
        actions() {
            return this.authService.getActions('Spatie\\Permission\\Models\\Permission', this.currentUser, false);
        }
    },
    async created() {
        await this.fetchPermissions(this.searchQuery);
    },
    methods: {
        ...mapActions({
            fetchPermissions: "permissions/fetchPermissions",
        }),
        createPermission() {
            this.selectedPermission = null;
            this.createPermissionModal = true;
        },
        editPermission(permission) {
            this.selectedPermission = permission;
            this.createPermissionModal = true;
        },
        deletePermission(permission) {
            this.selectedPermission = permission;
            this.deletePermissionModal = true;
        },
        async wasDeleted() {
            this.deletePermissionModal = false;
            await this.fetchPermissions();
        },
        async paginate(options) {
            await this.fetchPermissions(options);
        }
    }
}
</script>

<style scoped>

</style>
