<template>
    <Modal :show="show" @close="$emit('close')">
        <div class="onlinePlatform-modal">
            <h1 class="onlinePlatform-modal_header">{{ isUpdate ? 'Update' : 'Create' }} Online Platform</h1>
            <div class="onlinePlatform-modal_form">
                <InputField
                    class="onlinePlatform-modal_input"
                    placeholder="Enter online platform name"
                    :is-required="true"
                    :input-value="onlinePlatformName"
                    @update:value="onlinePlatformName = $event"
                    :hasError="validationErrorHandler.hasError('name')"
                    :errorMessage="validationErrorHandler.getMessage('name')"
                ></InputField>

                <PrimaryButton class="onlinePlatform-modal_button" @click="createOrUpdateOnlinePlatform">
                    <p>{{ isUpdate ? 'Update' : 'Create' }}</p>
                </PrimaryButton>
            </div>
        </div>
    </Modal>
</template>

<script>
import Modal from "@/Components/Modals/Modal.vue";
import InputField from "@/Components/Form/InputField.vue";
import PrimaryButton from "@/Components/Buttons/PrimaryButton.vue";
import ValidationErrorHandler from "@/Services/ValidationErrors/ValidationErrorHandler";
import Notifications from "@/Services/Notiffications/notifications";
import {mapActions} from "vuex";

export default {
    name: "CreateOnlinePlatformModal",
    components: {
        Modal,
        InputField,
        PrimaryButton
    },
    props: {
        show: {
            required: true,
            type: Boolean
        },
        onlinePlatform: {
            required: false,
            type: Object,
            default: null
        },
        isUpdate: {
            required: false,
            type: Boolean,
            default: false
        }
    },
    data() {
        return {
            onlinePlatformName: '',
            validationErrorHandler: new ValidationErrorHandler(),
            notifications: new Notifications()
        }
    },
    created() {
        this.onlinePlatformName = !!this.onlinePlatform ? this.onlinePlatform.name : this.onlinePlatformName;
    },
    watch: {
        onlinePlatform() {
            this.validationErrorHandler.dropErrors();
        }
    },
    methods: {
        ...mapActions({
            fetchOnlinePlatforms: "online_platforms/fetchOnlinePlatforms",
            storeOnlinePlatform: "online_platforms/storeOnlinePlatform",
            updateOnlinePlatform: "online_platforms/updateOnlinePlatform"
        }),
        async createOrUpdateOnlinePlatform() {
            const payload = {
                id: !!this.onlinePlatform ? this.onlinePlatform.id : null,
                name: this.onlinePlatformName
            }

            const action = this.isUpdate ? this.updateOnlinePlatform : this.storeOnlinePlatform;

            await action(payload)
                .then(response => {
                    this.fetchOnlinePlatforms();
                    this.$emit('close');
                    this.notifications.success(response.data.message)
                })
                .catch(error => {
                    if (error.response.status === 422) {
                        this.validationErrorHandler.setErrors(error.response.data.errors);
                    }

                    this.notifications.error(error.response.data.message);
                });
        }
    }
}
</script>

<style lang="scss" scoped>
.onlinePlatform-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    gap: 30px;

    &_header {
        line-height: 1.25;
        font-weight: 600;
        font-size: 1.25rem;
    }

    &_form {
        display: flex;
        align-items: flex-start;
        justify-content: space-evenly;
        width: 100%;
    }

    &_input {
        width: 250px;
    }

    &_button {
        height: 42px;
    }
}
</style>
