<template>
    <Modal :show="show" @close="$emit('close')">
        <div class="onlinePlatform-modal">
            <h1 class="onlinePlatform-modal_header">{{ isUpdate ? 'Update' : 'Create' }} Account</h1>
            <div class="onlinePlatform-modal_form">
                <OnlinePlatformSelect
                    :input-value="!!platform ? platform.id : 0"
                    :payload="selectPayload"
                    :hasError="validationErrorHandler.hasError('online_platform_id')"
                    :errorMessage="validationErrorHandler.getMessage('online_platform_id')"
                    @change="platform.id = $event"
                    :is-disabled="!!onlinePlatform"
                />

                <InputField
                    class="onlinePlatform-modal_input"
                    placeholder="Enter account"
                    :is-required="true"
                    :input-value="platform.account"
                    @update:value="platform.account = $event"
                    :hasError="validationErrorHandler.hasError('account')"
                    :errorMessage="validationErrorHandler.getMessage('account')"
                ></InputField>

                <PrimaryButton class="onlinePlatform-modal_button" @click="createOrUpdateOnlinePlatformAccount">
                    <p>{{ isUpdate ? 'Update' : 'Create' }}</p>
                </PrimaryButton>
            </div>
        </div>
    </Modal>
</template>

<script>
import Modal from "@/Components/Modals/Modal.vue";
import InputField from "@/Components/Form/InputField.vue";
import PrimaryButton from "@/Components/Buttons/PrimaryButton.vue";
import ValidationErrorHandler from "@/Services/ValidationErrors/ValidationErrorHandler";
import Notifications from "@/Services/Notiffications/notifications";
import {mapActions, mapGetters} from "vuex";
import OnlinePlatformSelect from "@/Components/Selects/OnlinePlatformSelect.vue";
import onlinePlatform from "@/store/models/online-platform";

export default {
    name: "CreateOnlinePlatformAccountModal",
    components: {
        OnlinePlatformSelect,
        Modal,
        InputField,
        PrimaryButton
    },
    props: {
        show: {
            required: true,
            type: Boolean
        },
        onlinePlatform: {
            required: false,
            type: Object,
            default: null
        },
        isUpdate: {
            required: false,
            type: Boolean,
            default: false
        },
        onlinePlatformIds: {
            required: true,
            type: Array
        }
    },
    data() {
        return {
            validationErrorHandler: new ValidationErrorHandler(),
            notifications: new Notifications(),
            platform: {...onlinePlatform}
        }
    },
    computed: {
        ...mapGetters({
            user: "users/user"
        }),
        selectPayload() {
            if (!!this.onlinePlatform) {
                const index = this.onlinePlatformIds.indexOf(this.onlinePlatform.id);
                this.onlinePlatformIds.splice(index, 1);
            }

            return {online_platforms_ids: this.onlinePlatformIds}
        }
    },
    created() {
        this.platform = !!this.onlinePlatform ? this.onlinePlatform : this.platform;
    },
    watch: {
        platform: {
            handler() {
                this.validationErrorHandler.dropErrors();
            },
            deep: true
        }
    },
    methods: {
        ...mapActions({
            fetchUser: "users/fetchUser",
            attachOnlinePlatform: "online_platforms/attachOnlinePlatform",
        }),
        async createOrUpdateOnlinePlatformAccount() {
            const payload = {
                user_id: this.user.id,
                online_platform_id: this.platform.id,
                account: this.platform.account
            }

            this.attachOnlinePlatform(payload)
                .then(response => {
                    this.fetchUser(this.user.id);
                    this.$emit('close');
                    this.notifications.success(response.data.message)
                })
                .catch(error => {
                    if (error.response.status === 422) {
                        this.validationErrorHandler.setErrors(error.response.data.errors);
                    }

                    this.notifications.error(error.response.data.message);
                });
        }
    }
}
</script>

<style lang="scss" scoped>
.onlinePlatform-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    gap: 30px;

    &_header {
        line-height: 1.25;
        font-weight: 600;
        font-size: 1.25rem;
    }

    &_form {
        display: flex;
        align-items: flex-start;
        justify-content: space-evenly;
        width: 100%;
    }

    &_input {
        width: 250px;
    }

    &_button {
        height: 42px;
    }
}
</style>
