<template>
    <div class="from-to-dates">
        <InputField
            component-type="date"
            placeholder="From"
            :max-date="null"
            @update:value="setFrom($event)"
        />
        <InputField
            component-type="date"
            placeholder="To"
            :max-date="null"
            @update:value="setTo($event)"
        />
    </div>
</template>

<script>
import InputField from "@/Components/Form/InputField.vue";

export default {
    name: "FromToDates",
    components: {InputField},
    emits: ['from', 'to'],
    methods: {
        setFrom(from) {
            this.$emit('from', from);
        },
        setTo(to) {
            this.$emit('to', to);
        }
    }
}
</script>

<style lang="scss" scoped>
.from-to-dates {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
</style>
