<template>
    <InputField
        :label="hasLabel ? $t('form.gender') : ''"
        component-type="select"
        :options="genders"
        :input-value="value"
        @update:value="setValue"
        :empty-value="$t('form.placeholder.gender')"
        :has-error="hasError"
        :error-message="errorMessage"
        :is-disabled="isDisabled"
    />
</template>

<script>
import InputField from "@/Components/Form/InputField.vue";
import {mapGetters} from "vuex";

export default {
    name: "GenderSelect",
    components: {InputField},
    emits: ['change'],
    props: {
        hasLabel: {
            required: false,
            type: Boolean,
            default: false
        },
        errorMessage: {
            required: false,
            type: String,
            default: null
        },
        hasError: {
            required: false,
            type: Boolean,
            default: false
        },
        inputValue: {
            required: false,
            type: String,
            default: null
        },
        isDisabled: {
            required: false,
            type: Boolean,
            default: false
        }
    },
    created() {
        if (!!this.inputValue) {
            this.value = this.inputValue;
        }
    },
    data() {
        return {
            value: null
        }
    },
    watch: {
        inputValue() {
            if (!!this.inputValue) {
                this.value = this.inputValue;
            }
        },
        searchQuery: {
            handler(searchQuery) {
                if (!searchQuery.gender) {
                    this.value = 0;
                }
            },
            deep: true
        }
    },
    computed: {
        ...mapGetters({
            searchQuery: "app/searchQuery"
        }),
        genders() {
            return [
                {
                    value: 'M',
                    label: this.$t('profile.gender.male')
                },
                {
                    value: 'F',
                    label: this.$t('profile.gender.female')
                }
            ];
        }
    },
    methods: {
        setValue(value) {
            this.$emit('change', value);
            this.value = value;
        }
    }
}
</script>

<style scoped>

</style>
