<template>
    <select id="language" class="language-select" @change="setLocale($i18n.locale)" v-model="$i18n.locale">
        <option :value="locale" v-for="locale in $i18n.availableLocales">
            {{ $t('languages.' + locale) }}
        </option>
    </select>
</template>

<script>
import {mapActions} from "vuex";

export default {
    name: "LanguageSelect",
    methods: {
        ...mapActions({
            setLocale: 'users/setLocale'
        }),
    }
}
</script>

<style lang="scss" scoped>
.language-select {
    border: none;
    background-color: rgba(0, 179, 255, 0);
    cursor: pointer;
}
</style>
