<template>
    <InputField
        :label="hasLabel ? 'Online Platform' : ''"
        component-type="select"
        :options="selectOptions"
        :input-value="value"
        @update:value="setValue"
        empty-value="Select online platform"
        :has-error="hasError"
        :error-message="errorMessage"
        :is-disabled="isDisabled"
    />
</template>

<script>
import InputField from "@/Components/Form/InputField.vue";
import {mapActions, mapGetters} from "vuex";

export default {
    name: "OnlinePlatformSelect",
    components: {InputField},
    emits: ['change'],
    props: {
        hasLabel: {
            required: false,
            type: Boolean,
            default: false
        },
        inputValue: {
            required: false,
            type: Number,
            default: null
        },
        errorMessage: {
            required: false,
            type: String,
            default: null
        },
        hasError: {
            required: false,
            type: Boolean,
            default: false
        },
        payload: {
            required: false,
            type: Object,
            default: {}
        },
        isDisabled: {
            required: false,
            type: Boolean,
            default: false
        }
    },
    data() {
        return {
            value: null
        }
    },
    watch: {
        searchQuery: {
            handler(searchQuery) {
                if (!searchQuery.online_platform_id) {
                    this.value = 0;
                }
            },
            deep: true
        },
        inputValue() {
            this.value = this.inputValue;
        }
    },
    async created() {
        await this.fetchSelectOptions(this.payload);
        this.value = this.inputValue;
    },
    computed: {
        ...mapGetters({
            selectOptions: "online_platforms/selectOptions",
            searchQuery: "app/searchQuery"
        })
    },
    methods: {
        ...mapActions({
            fetchSelectOptions: "online_platforms/fetchSelectOptions"
        }),
        setValue(value) {
            this.$emit('change', value);
            this.value = value;
        }
    }
}
</script>

<style scoped>

</style>
