<template>
    <div class="online-checkbox">
        <Checkbox
            :checked="online"
            @update:checked="check($event)"
        />
        <InputLabel value="Online" :isRequired="true" />
    </div>
</template>

<script>
import Checkbox from "@/Components/Checkbox.vue";
import InputLabel from "@/Components/Form/InputLabel.vue";

export default {
    name: "OnlineCheckbox",
    components: {InputLabel, Checkbox},
    emits: ['change'],
    props: {
        inputValue: {
            required: false,
            type: Boolean,
            default: null
        }
    },
    data() {
        return {
            online: false
        }
    },
    watch: {
        inputValue: {
            handler(value) {
                this.online = value;
            }
        }
    },
    methods: {
        check(value) {
            this.$emit('change', value);
        }
    }
}
</script>

<style lang="scss" scoped>
.online-checkbox {
    display: flex;
    gap: 15px;
    align-items: center;
}
</style>
