<template>
    <InputField
        :label="hasLabel ? $t('form.role') : ''"
        component-type="select"
        :options="selectOptions"
        :input-value="value"
        @update:value="setValue"
        :empty-value="$t('form.role')"
        :has-error="hasError"
        :error-message="errorMessage"
        :is-disabled="isDisabled"
    />
</template>

<script>
import InputField from "@/Components/Form/InputField.vue";
import {mapActions, mapGetters} from "vuex";
import {authService} from "@/Services/AuthService/auth-service";

export default {
    name: "RoleSelect",
    components: {InputField},
    emits: ['change'],
    props: {
        hasLabel: {
            required: false,
            type: Boolean,
            default: false
        },
        inputValue: {
            required: false,
            type: Number,
            default: null
        },
        errorMessage: {
            required: false,
            type: String,
            default: null
        },
        hasError: {
            required: false,
            type: Boolean,
            default: false
        },
        isDisabled: {
            required: false,
            type: Boolean,
            default: false
        }
    },
    data() {
        return {
            value: null,
        }
    },
    watch: {
        searchQuery: {
            handler(searchQuery) {
                if (!searchQuery.role_id) {
                    this.value = 0;
                }
            },
            deep: true
        },
        inputValue() {
            this.value = this.inputValue;
        }
    },
    async created() {
        await this.fetchRoles();
        this.value = this.inputValue;
    },
    computed: {
        ...mapGetters({
            roles: "roles/roles",
            searchQuery: "app/searchQuery",
            currentUser: "users/currentUser"
        }),
        selectOptions() {
            let roles;

            if (!authService.isAdmin(this.currentUser)) {
                roles = this.roles.filter(role => {
                    return role.name !== 'admin';
                });
            } else {
                roles = this.roles;
            }

            return roles.map(role => {
                return {
                    value: role.id,
                    label: this.$t('role.name.' +  role.name)
                }
            });
        }
    },
    methods: {
        ...mapActions({
            fetchRoles: "roles/fetchRoles"
        }),
        setValue(value) {
            this.$emit('change', value);
            this.value = value;
        }
    }
}
</script>

<style scoped>

</style>
