<template>
    <InputField
        :label="hasLabel ? 'Sport' : ''"
        component-type="select"
        :options="!!trainerSports && Array.isArray(trainerSports) ? trainerSports : selectOptions"
        :input-value="value"
        @update:value="setValue"
        empty-value="Select sport"
        :has-error="hasError"
        :error-message="errorMessage"
        :is-required="isRequired"
        :is-disabled="isDisabled"
    />
</template>

<script>
import InputField from "@/Components/Form/InputField.vue";
import {mapActions, mapGetters} from "vuex";
import {authService} from "@/Services/AuthService/auth-service";

export default {
    name: "SportSelect",
    components: {InputField},
    emits: ['change'],
    props: {
        hasLabel: {
            required: false,
            type: Boolean,
            default: false
        },
        inputValue: {
            required: false,
            type: Number,
            default: null
        },
        errorMessage: {
            required: false,
            type: String,
            default: null
        },
        hasError: {
            required: false,
            type: Boolean,
            default: false
        },
        payload: {
            required: false,
            type: Object,
            default: {}
        },
        isRequired: {
            required: false,
            type: Boolean,
            default: false
        },
        isDisabled: {
            required: false,
            type: Boolean,
            default: false
        }
    },
    data() {
        return {
            value: null,
            trainerSports: null
        }
    },
    watch: {
        searchQuery: {
            handler(searchQuery) {
                if (!searchQuery.sport_id) {
                    this.value = 0;
                }
            },
            deep: true
        },
        inputValue() {
            this.value = this.inputValue;
        }
    },
    async created() {
        if (authService.isTrainer(this.currentUser)) {
            this.trainerSports = this.currentUser.sports.map(sport => {
                return {
                    value: sport.id,
                    label: sport.name
                };
            });
        } else {
            await this.fetchSelectOptions(this.payload);
        }

        this.value = this.inputValue;
    },
    computed: {
        ...mapGetters({
            selectOptions: "sports/selectOptions",
            searchQuery: "app/searchQuery",
            currentUser: "users/currentUser"
        })
    },
    methods: {
        ...mapActions({
            fetchSelectOptions: "sports/fetchSelectOptions"
        }),
        setValue(value) {
            this.$emit('change', value);
            this.value = value;
        }
    }
}
</script>

<style scoped>

</style>
