<template>
    <InputField
        :label="hasLabel ? 'User' : ''"
        component-type="select"
        :options="!!currentUserOption ? [currentUserOption] : selectOptions"
        :input-value="value"
        @update:value="setValue"
        empty-value="Select user"
        :has-error="hasError"
        :error-message="errorMessage"
        :is-required="isRequired"
        :is-disabled="isDisabled"
    />
</template>

<script>
import InputField from "@/Components/Form/InputField.vue";
import {mapActions, mapGetters} from "vuex";
import {AuthService} from "@/Services/AuthService/auth-service";

export default {
    name: "UserSelect",
    components: {InputField},
    emits: ['change'],
    props: {
        hasLabel: {
            required: false,
            type: Boolean,
            default: false
        },
        inputValue: {
            required: false,
            type: Number,
            default: null
        },
        errorMessage: {
            required: false,
            type: String,
            default: null
        },
        hasError: {
            required: false,
            type: Boolean,
            default: false
        },
        payload: {
            required: false,
            type: Object,
            default: {}
        },
        isRequired: {
            required: false,
            type: Boolean,
            default: false
        },
        isDisabled: {
            required: false,
            type: Boolean,
            default: false
        }
    },
    data() {
        return {
            value: null,
            authService: new AuthService(),
            currentUserOption: null
        }
    },
    watch: {
        searchQuery: {
            handler(searchQuery) {
                if (!searchQuery.user_id) {
                    this.value = 0;
                }
            },
            deep: true
        },
        inputValue() {
            this.value = this.inputValue;
        }
    },
    async created() {
        if (this.currentUser.id && !this.authService.isAdmin(this.currentUser)) {
            const isTrainer = this.authService.isTrainer(this.currentUser);
            const isStudent = this.authService.isStudent(this.currentUser);

            if ((isTrainer && this.payload.role === 'trainer') || (isStudent && this.payload.role === 'student')) {
                this.currentUserOption = {
                    label: `${this.currentUser.first_name} ${this.currentUser.last_name}`,
                    value: this.currentUser.id,
                };
                this.value = this.currentUser.id;
            }
        } else {
            await this.fetchSelectOptions(this.payload);
            this.value = this.inputValue;
        }

        this.setValue(this.value);
    },
    computed: {
        ...mapGetters({
            selectOptions: "users/selectOptions",
            searchQuery: "app/searchQuery",
            currentUser: "users/currentUser"
        })
    },
    methods: {
        ...mapActions({
            fetchSelectOptions: "users/fetchSelectOptions"
        }),
        setValue(value) {
            this.$emit('change', value);
            this.value = value;
        }
    }
}
</script>

<style scoped>

</style>
