<template>
    <Modal :show="show" @close="$emit('close')">
        <div class="add-role-modal">
            <h1 class="add-role-modal_header">{{ isUpdate ? 'Update' : 'Create' }} Role</h1>
            <div class="add-role-modal_form">
                <InputField
                    class="add-role-modal_input"
                    placeholder="Enter role name"
                    :is-required="true"
                    :input-value="roleName"
                    @update:value="roleName = $event"
                    :hasError="validationErrorHandler.hasError('name')"
                    :errorMessage="validationErrorHandler.getMessage('name')"
                ></InputField>

                <PrimaryButton class="add-role-modal_button" @click="createOrUpdateRole">
                    <p>{{ isUpdate ? 'Update' : 'Create' }}</p>
                </PrimaryButton>
            </div>
        </div>
    </Modal>
</template>

<script>
import Modal from "@/Components/Modals/Modal.vue";
import {mapActions} from "vuex";
import PrimaryButton from "@/Components/Buttons/PrimaryButton.vue";
import TextInput from "@/Components/Form/InputTypes/TextInput.vue";
import ValidationErrorHandler from "@/Services/ValidationErrors/ValidationErrorHandler";
import InputField from "@/Components/Form/InputField.vue";

export default {
    name: "CreateRoleModal",
    components: {InputField, TextInput, PrimaryButton, Modal},
    props: {
        show: {
            required: true,
            type: Boolean
        },
        role: {
            required: false,
            type: Object,
            default: null
        },
        isUpdate: {
            required: false,
            type: Boolean,
            default: false
        }
    },
    data() {
        return {
            roleName: '',
            validationErrorHandler: new ValidationErrorHandler()
        }
    },
    created() {
        this.roleName = !!this.role ? this.role.name : this.roleName;
    },
    watch: {
        role() {
            this.validationErrorHandler.dropErrors();
        }
    },
    methods: {
        ...mapActions({
            fetchRoles: "roles/fetchRoles",
            storeRole: "roles/storeRole",
            updateRole: "roles/updateRole"
        }),
        async createOrUpdateRole() {
            const payload = {
                id: !!this.role ? this.role.id : null,
                name: this.roleName
            }

            const action = this.isUpdate ? this.updateRole : this.storeRole;

            await action(payload)
                .then(response => {
                    if (response.status === 201 || response.status === 200) {
                        this.fetchRoles();
                        this.$emit('close');
                    }
                })
                .catch(error => {
                    if (error.response.status === 422) {
                        this.validationErrorHandler.setErrors(error.response.data.errors);
                    }
                });
        }
    }
}
</script>

<style lang="scss" scoped>
.add-role-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    gap: 30px;

    &_header {
        line-height: 1.25;
        font-weight: 600;
        font-size: 1.25rem;
    }

    &_form {
        display: flex;
        align-items: flex-start;
        justify-content: space-evenly;
        width: 100%;
    }

    &_input {
        width: 250px;
    }

    &_button {
        height: 42px;
    }
}
</style>
