<template>
    <VueDatePicker
        format="dd.MM.yyyy HH:mm"
        :max-date="maxDate"
        :flow="flow"
        class="border-gray-300 focus:bordigo-500 focus:ring-indigo-500 rounded-md shadow-sm"
        v-model="date"
    />
</template>

<script>
import { ref } from 'vue';
import VueDatePicker from '@vuepic/vue-datepicker';
import '@vuepic/vue-datepicker/dist/main.css';

export default {
    name: 'DateInput',
    components: {
        VueDatePicker
    },
    data() {
        return {
            date: null,
            flow: ref(['year', 'month', 'calendar'])
        }
    },
    props: {
        modelValue: {
            required: true,
        },
        maxDate: {
            required: false,
            default: new Date()
        }
    },
    emits: ['update:modelValue'],
    watch: {
        date() {
            this.$emit('update:modelValue', this.date)
        },
        modelValue: {
            handler(value) {
                if (!!value) {
                    this.date = value
                }
            }
        }
    },
    created() {
        if (!!this.modelValue) {
            this.date = this.modelValue
        }
    }
}
</script>
