<template>
    <select
        class="border-gray-300 focus:border-indigo-500 focus:ring-indigo-500 rounded-md shadow-sm"
        :value="modelValue"
        @change="$emit('update:modelValue', $event.target.value)"
        ref="input"
    >
        <option v-if="!!emptyValue" value="0" selected>{{ emptyValue }}</option>
        <option v-for="option in options" :value="option.value" :selected="isSelected(option)">
            {{ option.label }}
        </option>
    </select>
</template>

<script>
import {ref} from "vue";

export default {
    name: 'SelectInput',
    props: {
        modelValue: {
            required: true,
        },
        options: {
            required: true,
            type: Array,
            default: []
        },
        emptyValue: {
            required: false,
            type: String,
            default: null
        }
    },
    computed: {
        input() {
            return ref(null);
        }
    },
    methods: {
        isSelected(option) {
            return option.value === this.modelValue;
        }
    }
}
</script>
