<template>
    <div class="profile">
        <PageTitle :title="$t('layout.auth.profile') + ': ' + currentUser.profile.full_name"/>
        <div class="p-4 sm:p-8 bg-white shadow sm:rounded-lg">
            <UpdateProfileForm class="max-w-xl"/>
        </div>

        <div class="p-4 sm:p-8 bg-white shadow sm:rounded-lg">
            <UpdateEmailForm class="max-w-xl"/>
        </div>

        <div class="p-4 sm:p-8 bg-white shadow sm:rounded-lg">
            <UpdatePasswordForm class="max-w-xl"/>
        </div>

        <div class="p-4 sm:p-8 bg-white shadow sm:rounded-lg">
            <DeleteUserForm class="max-w-xl"/>
        </div>
    </div>
</template>

<script>
import DeleteUserForm from './Partials/DeleteUserForm.vue';
import UpdatePasswordForm from './Partials/UpdatePasswordForm.vue';
import UpdateEmailForm from './Partials/UpdateEmailForm.vue';
import UpdateProfileForm from "@/Pages/Profile/Partials/UpdateProfileForm.vue";
import {mapActions, mapGetters} from "vuex";
import PageTitle from "@/Components/PageTitle.vue";

export default {
    name: 'View',
    components: {
        PageTitle,
        DeleteUserForm,
        UpdateProfileForm,
        UpdatePasswordForm,
        UpdateEmailForm,
    },
    async created() {
        if (this.currentUser.id === null) {
            await this.fetchCurrentUser();
        }
    },
    computed: {
        ...mapGetters({
            currentUser: "users/currentUser"
        })
    },
    methods: {
        ...mapActions({
            fetchCurrentUser: "users/fetchCurrentUser"
        })
    }
}
</script>

<style lang="scss" scoped>
.profile {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
}
</style>
