<template>
    <div class="data-table">
        <table>
            <thead>
            <tr>
                <th v-if="withIndex" width="3%">
                    #
                </th>
                <th
                    scope="col"
                    v-for="header in headers"
                    :width="!!header.width ? header.width : 'auto'"
                >
                    <div class="data-table_header">
                        {{ header.label }}
                        <img
                            @click="sort(header.field)"
                            v-if="header.sortable"
                            src="/images/icons/down-arrow.png"
                            alt="down-arrow"
                        >
                    </div>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(item, index) in items">
                <td v-if="withIndex">
                    {{ index + 1 }}
                </td>
                <td v-for="header in headers">
                    <slot v-if="header.field === 'actions'" name="actions"></slot>
                    <span v-else>
                        {{ fieldValue(header.field, item) }}
                    </span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
export default {
    name: "DataTable",
    props: {
        headers: {
            required: true,
            type: Array
        },
        items: {
            required: true,
            type: Array
        },
        withIndex: {
            required: false,
            type: Boolean,
            default: false
        }
    },
    methods: {
        fieldValue(field, item) {
            if (field !== 'actions') {
                if(field.includes('.')) {
                    const fieldsArray = field.split('.');
                    fieldsArray.forEach(field => {
                        item = item[field];
                    });
                } else {
                    item = item[field];
                }

                return !!item ? item : 'N/A';
            }
        },
        sort(field) {
        }
    }
}
</script>

<style lang="scss" scoped>
.data-table {
    width: 100%;

    table {
        table-layout: fixed;
        width: 100%;
        border-collapse: collapse;
        border: 1px solid black;
        border-radius: 1em;
        overflow: hidden;
        background-color: #FFF;
        box-shadow: 0 0 5px;

        thead {
            border-bottom: 1px solid rgba(0, 0, 0, 0.5);
        }

        th, td {
            padding: 5px 15px;
            font-family: Arial, sans-serif;
            text-align: left;
        }

        th {
            font-size: 16px;
        }

        td {
            font-size: 14px;
        }
    }

    &_header {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        img {
            height: 20px;
            width: 20px;
            cursor: pointer;
        }
    }
}
</style>
