<template>
    <div class="table_navigation">
        <div class="filters">
            <slot name="filters"></slot>
        </div>
        <div v-if="hasSearch" class="search">
            <InputField
                :placeholder="$t('table.navigation.search') + '...'"
                :input-value="search"
                @update:value="search = $event"
            />
        </div>
        <div class="actions">
            <PrimaryButton v-if="!!$slots.filters && !!hasSearch" class="action" @click="$emit('clearFilters')">
                {{ $t('table.navigation.clearFilters') }}
            </PrimaryButton>
            <PrimaryButton class="action" v-if="showCreate" @click="$emit('create')">
                {{ createLabel }}
            </PrimaryButton>
        </div>
    </div>
</template>

<script>
import PrimaryButton from "@/Components/Buttons/PrimaryButton.vue";
import InputField from "@/Components/Form/InputField.vue";
import {mapActions, mapGetters} from "vuex";

export default {
    name: "TableNavigation",
    components: {InputField, PrimaryButton},
    emits: ['search', 'clearFilters'],
    props: {
        hasCreate: {
            required: false,
            type: Boolean,
            default: true
        },
        hasSearch: {
            required: false,
            type: Boolean,
            default: false
        },
        createLabel: {
            required: false,
            type: String,
            default: 'Create'
        },
        showCreate: {
            required: false,
            type: Boolean,
            default: true
        }
    },
    data() {
        return {
            search: null,
        }
    },
    watch: {
        search() {
            this.$emit('search', this.search);
        },
        searchQuery: {
            handler(searchQuery) {
                this.search = searchQuery.search;
            },
            deep: true
        }
    },
    computed: {
        ...mapGetters({
            searchQuery: "app/searchQuery"
        })
    }
}
</script>

<style scoped>
.table_navigation {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 80%;
    gap: 10px;
}
.actions {
    display: flex;
    align-items: center;
    gap: 10px;
}
.action {
    height: 42px;
}
.filters {
    display: flex;
    align-items: center;
    gap: 10px;
}
</style>
