<template>
    <div class="table py-12">
        <TableNavigation
            @create="$emit('create')"
            :create-label="createLabel"
            :show-create="actions.create"
            :has-search="actions.search"
            @search="$emit('search', $event)"
            @clearFilters="$emit('clearFilters')"
        >
            <template #filters>
                <slot name="filters"></slot>
            </template>
        </TableNavigation>

        <DataTable
            :headers="headers"
            :items="items"
            :with-index="true"
        >
            <template v-slot:actions="row">
                <div class="actions">
                    <img
                        src="/images/icons/view.png"
                        alt="view"
                        v-if="actions.view"
                        @click="$emit('view', row.value)"
                    />
                    <img
                        src="/images/icons/edit.png"
                        alt="edit"
                        v-if="actions.update"
                        @click="$emit('update', row.value)"
                    />
                    <img
                        src="/images/icons/delete.png"
                        alt="delete"
                        v-if="actions.delete"
                        @click="$emit('delete', row.value)"
                    />
                </div>
            </template>
        </DataTable>

        <!--        <VueTableLite-->
        <!--            class="table_content"-->
        <!--            :class="{'w-100': fullWidth}"-->
        <!--            :is-slot-mode="true"-->
        <!--            :columns="headers"-->
        <!--            :rows="items"-->
        <!--            :total="metaData.total"-->
        <!--            :page="metaData.page"-->
        <!--            :page-size="metaData.per_page"-->
        <!--            :sortable="sortData"-->
        <!--            :is-hide-paging="hidePagination"-->
        <!--            @do-search="paginate"-->
        <!--        >-->


        <!--            <template #empty-message>-->
        <!--                <span>nothing here</span>-->
        <!--            </template>-->
        <!--        </VueTableLite>-->
    </div>
</template>

<script>
import VueTableLite from 'vue3-table-lite'
import TableNavigation from "@/Components/Table/TableNavigation.vue";
import sortData from "@/store/models/sort-data";
import meta from "@/store/models/meta";
import searchQuery from "@/store/models/search-query";
import DataTable from "@/Components/Table/DataTable.vue";

export default {
    name: "Table",
    emits: ['paginate', 'search', 'clearFilters', 'create', 'update', 'delete', 'view'],
    components: {
        DataTable,
        TableNavigation,
        VueTableLite
    },
    props: {
        headers: {
            required: true,
            type: Array
        },
        items: {
            required: false,
            type: Array,
            default: []
        },
        actions: {
            required: false,
            type: Object,
            default: {}
        },
        createLabel: {
            required: false,
            type: String,
        },
        metaData: {
            required: false,
            type: Object,
            default: meta
        },
        sortData: {
            required: false,
            type: Object,
            default: sortData
        },
        hidePagination: {
            required: false,
            type: Boolean,
            default: false
        },
        fullWidth: {
            required: false,
            type: Boolean,
            default: false
        }
    },
    data() {
        return {
            page: 1,
            per_page: 25
        }
    },
    created() {
        this.setIndexes();
        this.$store.commit('app/setSearchQuery', {...searchQuery})
    },
    watch: {
        items() {
            this.setIndexes();
        }
    },
    methods: {
        async paginate(offset, per_page, column, direction) {
            const page = offset / per_page + 1;
            const payload = {
                page: page,
                per_page: per_page,
                column: column,
                direction: direction,
            }

            this.page = page;
            this.per_page = per_page;

            await this.$emit('paginate', payload);
        },
        setIndexes() {
            let value = 0;

            if (!!this.page && !!this.per_page) {
                value = (this.page - 1) * this.per_page;
            }

            this.items.forEach((item, i) => {
                item.index = value + i + 1;
            });
        }
    }
}
</script>

<style lang="scss" scoped>
.table {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.table_content {
    width: 80%;
    border-radius: 10px;
    padding: 10px;
}

.actions {
    display: flex;
    align-items: center;
    gap: 10px;

    img {
        height: 20px;
        cursor: pointer;
    }
}
</style>
