<template>
    <div class="calendar">
        <FullCalendar :options="calendarOptions"></FullCalendar>
    </div>
</template>

<script>
import FullCalendar from '@fullcalendar/vue3'
import dayGridPlugin from '@fullcalendar/daygrid'

export default {
    name: "UserCalendar",
    components: {
        FullCalendar
    },
    props: {
        events: {
            required: true,
            type: Array
        }
    },
    data() {
        return {
            calendarOptions: {
                plugins: [dayGridPlugin],
                initialView: 'dayGridMonth',
                weekends: true,
                events: []
            }
        }
    },
    watch: {
        events() {
            this.calendarOptions.events = this.events;
        }
    },
    created() {
        this.calendarOptions.events = this.events;
    },
    methods: {
        show(arg) {
            console.log(arg.event);
        }
    }
}
</script>

<style scoped>

</style>
