<template>
    <div class="auth">
        <SideBar :is-open="isOpen" />
        <AuthNavigation @hide-side="isOpen = !isOpen" />
        <div class="auth_content" :style="contentWidth">
            <router-view />
        </div>
    </div>
</template>

<script>
import SideBar from "@/Layouts/components/SideBar.vue";
import AuthNavigation from "@/Layouts/components/AuthNavigation.vue";

export default {
    name: "AuthenticatedLayout",
    components: {AuthNavigation, SideBar},
    data() {
        return {
            isOpen: true
        }
    },
    computed: {
        contentWidth() {
            return this.isOpen ? 'width: 85%' : 'width: 95%';
        }
    }
}
</script>

<style lang="scss" scoped>
.auth {
    position: relative;

    &_content {
        background-color: #f8f9fc;
        height: auto;
        position: absolute;
        right: 0;
        top: 58px;
        padding: 30px;
        transition: all 0.5s;
    }
}
</style>
