<template>
    <div id="guest" class="guest" @click="closeDropdown($event)">
        <div class="guest_nav">
            <div v-if="showTitle" id="title">
                <router-link class="guest_nav_title" :to="{name: 'welcome'}">
                    Easy-training Tracker
                </router-link>
            </div>
            <div v-if="showDropdown" class="guest_nav_dropdown">
                <img @click="openDropdown()" id="dropdown" src="/images/icons/menu.png" alt="menu_png">
            </div>
            <div v-if="showMenu" id="menu" class="guest_nav_actions">
                <router-link id="login" class="guest_nav_link" :class="{'selected': $route.name === 'login'}"
                             :to="{name: 'login'}">
                    {{ $t('layout.guest.login') }}
                </router-link>
                <router-link id="register" class="guest_nav_link" :class="{'selected': $route.name === 'register'}"
                             :to="{name: 'register'}">
                    {{ $t('layout.guest.register') }}
                </router-link>
                <LanguageSelect />
            </div>
        </div>
        <router-view/>
    </div>
</template>
<script>
import LanguageSelect from "@/Components/Selects/LanguageSelect.vue";

export default {
    name: 'GuestLayout',
    components: {LanguageSelect},
    data() {
        return {
            showMenu: true,
            showDropdown: false,
            windowWidth: 0
        }
    },
    created() {
        window.addEventListener('resize', () => this.setWidth())
        this.setWidth();
        this.showElements();
    },
    watch: {
        windowWidth: {
            handler() {
                this.showElements();
            },
            immediate: true,
        }
    },
    computed: {
        showTitle() {
            if (this.windowWidth > 1000) {
                return true;
            }

            return this.showDropdown && !this.showMenu;
        }
    },
    methods: {
        openDropdown() {
            if (this.windowWidth <= 1000) {
                this.showMenu = true;
                this.showDropdown = false;
            }
        },
        closeDropdown(event) {
            const targetId = event.target.id;

            if (
                this.windowWidth <= 1000
                && targetId !== 'dropdown'
                && targetId !== 'login'
                && targetId !== 'register'
                && targetId !== 'language'
            ) {
                this.showMenu = false;
                this.showDropdown = true;
            }
        },
        setWidth() {
            this.windowWidth = window.innerWidth;
        },
        showElements() {
            if (this.windowWidth < 1000) {
                this.showMenu = false;
                this.showDropdown = true;
            } else {
                this.showMenu = true;
                this.showDropdown = false;
            }
        }
    }
}
</script>
<style lang="scss" scoped>
.guest {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("/images/bg.png") no-repeat center / cover;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: 1000px) {
        overflow: auto;
    }

    &_nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 30px;
        width: 80%;
        max-width: 1920px;

        @media (max-width: 1000px) {
            width: 100%;
            padding: 10px;
            scale: 0.9;
        }

        &_title {
            font-size: 26px;
            background: -webkit-linear-gradient(0deg, #6ed0a3, #22a1a8, #1f7aa6, #9a316a, #eb3f21);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            cursor: pointer;

            @media (max-width: 600px) {
                font-size: 20px;
            }
        }

        &_dropdown {
            display: none;

            @media (max-width: 1000px) {
                display: block;
            }

            img {
                height: 40px;
                cursor: pointer;
            }
        }

        &_actions {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
            gap: 30px;

            @media (max-width: 1000px) {
                width: 100%;
                flex-grow: 1;
                gap: 10px;
            }
        }

        &_link {
            &:hover {
                scale: 1.1;
            }
        }
    }
}

.selected {
    border-bottom: 1px solid black;
}
</style>
