<template>
    <Head title="Trainings"></Head>

    <AuthenticatedLayout>
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">Trainings</h2>
        </template>

        <Table
            createLabel="Create Training"
            :headers="headers"
            :metaData="metaData"
            :sortData="sortData"
            :items="trainings"
            :actions="actions"
            @create="openModal('create')"
            @update="openModal('update', $event)"
            @delete="openModal('delete', $event)"
            @view="viewTraining($event)"
            @paginate="paginate($event)"
            @search="searchQuery.search = $event"
            @clearFilters="clearFilters"
        >
            <template v-slot:filters>
                <FromToDates @from="setFilter('from', $event)" @to="setFilter('to', $event)" />
                <SportSelect @change="setFilter('sport_id', $event)" />
                <TrainingTypeSelect @change="setFilter('training_type_id', $event)" />
            </template>
        </Table>

        <CreateTrainingModal
            v-if="createTrainingModal"
            :show="createTrainingModal"
            :training-id="!!selectedTraining ? selectedTraining.id : null"
            :is-update="!!selectedTraining"
            @close="closeModal()"
        />

    </AuthenticatedLayout>
</template>

<script>
import {Head} from '@inertiajs/vue3';
import AuthenticatedLayout from "@/Layouts/AuthenticatedLayout.vue";
import Table from "@/Components/Table/Table.vue";
import {headers} from "@/Services/TableService/Headers/trainings-headers";
import sortData from "@/store/models/sort-data";
import {mapActions, mapGetters} from "vuex";
import searchQuery from "@/store/models/search-query";
import SportSelect from "@/Components/Selects/SportSelect.vue";
import TrainingTypeSelect from "@/Components/Selects/TrainingTypeSelect.vue";
import FromToDates from "@/Components/Selects/FromToDates.vue";
import CreateTrainingModal from "@/Pages/Training/Modals/CreateTrainingModal.vue";
import {AuthService} from "@/Services/AuthService/auth-service";

export default {
    name: "Index",
    components: {
        CreateTrainingModal,
        FromToDates,
        TrainingTypeSelect,
        SportSelect,
        Head,
        AuthenticatedLayout,
        Table
    },
    data() {
        return {
            headers: headers,
            sortData: sortData,
            emptySearchQuery: {...searchQuery},
            selectedTraining: null,
            createTrainingModal: false,
            deleteTrainingModal: false,
            authService: new AuthService()
        }
    },
    async created() {
        await this.paginate(this.searchQuery);
    },
    watch: {
        searchQuery: {
            async handler(searchQuery) {
                await this.paginate(searchQuery);
            },
            deep: true
        }
    },
    computed: {
        ...mapGetters({
            metaData: "trainings/trainingsMeta",
            trainings: "trainings/trainings",
            searchQuery: "app/searchQuery",
            currentUser: "users/currentUser"
        }),
        actions() {
            return this.authService.getActions('App\\Models\\Training', this.currentUser, true);
        }
    },
    methods: {
        ...mapActions({
            fetchTrainings: "trainings/fetchTrainings"
        }),
        async paginate(options) {
            this.searchQuery.page = options.page;
            this.searchQuery.per_page = options.per_page;
            this.searchQuery.column = options.column;
            this.searchQuery.direction = options.direction;

            await this.fetchTrainings(this.searchQuery);
        },
        openModal(type, training) {
            if (!!training) {
                this.selectedTraining = training;
            } else {
                this.selectedTraining = null;
            }

            switch (type) {
                case 'create':
                case 'update':
                    this.createTrainingModal = true;
                    break;
                case 'delete':
                    this.deleteTrainingModal = true;
                    break;
            }
        },
        closeModal() {
            this.selectedTraining = null;
            this.createTrainingModal = false;
            this.deleteTrainingModal = false;
        },
        viewTraining(training) {
            const url = route('trainings.view', {id: training.id});
            this.$inertia.visit(url);
        },
        setFilter(field, value) {
            this.$store.commit('app/setFilter', {field, value})
        },
        clearFilters() {
            this.$store.commit('app/setSearchQuery', {...this.emptySearchQuery});
        },
    }
}
</script>

<style scoped>

</style>
