<template>
    <Head title="User"/>

    <AuthenticatedLayout>
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">Training: {{ training.name }}</h2>
        </template>
        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8 space-y-6">
                <div class="p-4 sm:p-8 bg-white shadow sm:rounded-lg" v-if="!!training.id">
                    <header>
                        <h2 class="text-lg font-medium text-gray-900">Training Information</h2>
                    </header>
                    <div class="form">
                        <div class="flex w-100">
                            <InputField
                                class="w-50"
                                label="Name"
                                placeholder="Enter name"
                                :is-required="true"
                                :input-value="training.name"
                                @update:value="training.name = $event"
                                :hasError="validationErrorHandler.hasError('name')"
                                :errorMessage="validationErrorHandler.getMessage('name')"
                                :is-disabled="!canUpdateTraining"
                            />
                            <InputField
                                class="w-50"
                                label="Price"
                                placeholder="Enter price in format 0.00"
                                :input-value="training.price"
                                @update:value="training.price = $event"
                                :hasError="validationErrorHandler.hasError('price')"
                                :errorMessage="validationErrorHandler.getMessage('price')"
                                :is-disabled="!canUpdateTraining"
                            />
                        </div>
                        <InputField
                            class="w-100"
                            label="Description"
                            component-type="textarea"
                            placeholder="Enter description. Max 500 symbols."
                            :input-value="training.description"
                            @update:value="training.description = $event"
                            :hasError="validationErrorHandler.hasError('description')"
                            :errorMessage="validationErrorHandler.getMessage('description')"
                            :is-disabled="!canUpdateTraining"
                        />
                        <div class="flex w-100">
                            <TrainingTypeSelect
                                class="w-50"
                                :has-label="true"
                                :is-required="true"
                                :input-value="training.training_type_id"
                                :hasError="validationErrorHandler.hasError('training_type_id')"
                                :errorMessage="validationErrorHandler.getMessage('training_type_id')"
                                @change="training.training_type_id = $event"
                                :is-disabled="!canUpdateTraining"
                            />
                            <SportSelect
                                class="w-50"
                                :has-label="true"
                                :is-required="true"
                                :input-value="training.sport_id"
                                :hasError="validationErrorHandler.hasError('sport_id')"
                                :errorMessage="validationErrorHandler.getMessage('sport_id')"
                                @change="training.sport_id = $event"
                                :is-disabled="!canUpdateTraining"
                            />
                        </div>
                        <UserSelect
                            class="w-50"
                            :has-label="true"
                            :payload="{role: 'trainer'}"
                            :is-required="true"
                            :input-value="training.trainer_id"
                            :hasError="validationErrorHandler.hasError('trainer_id')"
                            :errorMessage="validationErrorHandler.getMessage('trainer_id')"
                            @change="training.trainer_id = $event"
                            :is-disabled="!canUpdateTraining"
                        />
                        <div class="flex w-100">
                            <InputField
                                class="w-50"
                                label="Date"
                                component-type="date"
                                placeholder="Select date and time"
                                :max-date="null"
                                :is-required="true"
                                :input-value="training.start_datetime"
                                @update:value="training.start_datetime = $event"
                                :hasError="validationErrorHandler.hasError('start_datetime')"
                                :errorMessage="validationErrorHandler.getMessage('start_datetime')"
                                :is-disabled="!canUpdateTraining"

                            />
                            <InputField
                                class="w-50"
                                label="Duration"
                                placeholder="Enter duration in minutes"
                                :is-required="true"
                                :input-value="training.duration.toString()"
                                @update:value="training.duration = $event"
                                :hasError="validationErrorHandler.hasError('duration')"
                                :errorMessage="validationErrorHandler.getMessage('duration')"
                                :is-disabled="!canUpdateTraining"
                            />
                        </div>
                        <div class="flex w-100">
                            <OnlineCheckbox
                                class="w-50"
                                :input-value="training.online"
                                @change="training.online = $event"
                            />

                            <InputField
                                class="w-50"
                                v-if="!training.online"
                                label="Location"
                                placeholder="Enter location"
                                :is-required="true"
                                :input-value="training.location"
                                @update:value="training.location = $event"
                                :hasError="validationErrorHandler.hasError('location')"
                                :errorMessage="validationErrorHandler.getMessage('location')"
                                :is-disabled="!canUpdateTraining"
                            />

                            <OnlinePlatformSelect
                                class="w-50"
                                v-if="training.online"
                                :has-label="true"
                                :is-required="true"
                                :input-value="training.online_platform_id"
                                :hasError="validationErrorHandler.hasError('online_platform_id')"
                                :errorMessage="validationErrorHandler.getMessage('online_platform_id')"
                                @change="training.online_platform_id = $event"
                                :is-disabled="!canUpdateTraining"
                            />
                        </div>
                    </div>
                    <PrimaryButton v-if="canUpdateTraining" class="button" @click="editTraining">
                        Edit Training
                    </PrimaryButton>
                </div>

                <div class="p-4 sm:p-8 bg-white shadow sm:rounded-lg" v-if="!!training.id">
                    <header>
                        <h2 class="text-lg font-medium text-gray-900">Training Students</h2>
                    </header>
                    <PrimaryButton class="button" @click="openAddUserModal = true">
                        Add Student
                    </PrimaryButton>

                    <Table
                        :headers="userHeaders"
                        :items="training.students"
                        :hide-pagination="true"
                        :actions="userActions"
                        :full-width="true"
                        @delete="detachUser($event)"
                    />

                    <AddUserModal
                        v-if="openAddUserModal"
                        :training-id="training.id"
                        :users-ids="training.students.map(student => student.id)"
                        :show="openAddUserModal"
                        @close="openAddUserModal = false"
                    />
                </div>
            </div>
        </div>

    </AuthenticatedLayout>
</template>

<script>
import {Head} from '@inertiajs/vue3';
import AuthenticatedLayout from "@/Layouts/AuthenticatedLayout.vue";
import {mapActions, mapGetters} from "vuex";
import RouteHelper from "@/Services/HttpService/route";
import ValidationErrorHandler from "@/Services/ValidationErrors/ValidationErrorHandler";
import Notifications from "@/Services/Notiffications/notifications";
import InputField from "@/Components/Form/InputField.vue";
import OnlinePlatformSelect from "@/Components/Selects/OnlinePlatformSelect.vue";
import OnlineCheckbox from "@/Components/Selects/OnlineCheckbox.vue";
import UserSelect from "@/Components/Selects/UserSelect.vue";
import SportSelect from "@/Components/Selects/SportSelect.vue";
import TrainingTypeSelect from "@/Components/Selects/TrainingTypeSelect.vue";
import PrimaryButton from "@/Components/Buttons/PrimaryButton.vue";
import AddUserModal from "@/Pages/User/Modal/AddUserModal.vue";
import Table from "@/Components/Table/Table.vue";
import {headers as userHeaders} from "@/Services/TableService/Headers/students-headers";
import {AuthService} from "@/Services/AuthService/auth-service";

export default {
    name: "View",
    components: {
        AddUserModal,
        PrimaryButton,
        TrainingTypeSelect,
        SportSelect,
        UserSelect,
        OnlineCheckbox,
        OnlinePlatformSelect,
        InputField,
        Head,
        AuthenticatedLayout,
        Table
    },
    data() {
        return {
            routeHelper: new RouteHelper(),
            validationErrorHandler: new ValidationErrorHandler(),
            notifications: new Notifications(),
            openAddUserModal: false,
            userHeaders: userHeaders,
            userActions: {
                delete: true,
                create: false
            },
            authService: new AuthService()
        }
    },
    async created() {
        const id = this.routeHelper.getIdParam(window.location.pathname, 'trainings');
        await this.fetchTraining(id);
    },
    computed: {
        ...mapGetters({
            training: "trainings/training",
            currentUser: "users/currentUser"
        }),
        canUpdateTraining() {
            return this.authService.canUpdate('App\\Models\\Training', this.currentUser.permissions)
                && this.currentUser.id === this.training.trainer_id
        }
    },
    methods: {
        ...mapActions({
            fetchTraining: "trainings/fetchTraining",
            updateTraining: "trainings/updateTraining",
            detachUserFromTraining: "trainings/detachUserFromTraining"
        }),
        async editTraining() {
            await this.updateTraining(this.training)
                .then(response => {
                    this.fetchTraining(this.training.id);
                    this.notifications.success(response.data.message);
                })
                .catch(error => {
                    this.notifications.error(error.response.data.message);
                });
        },
        async detachUser(user) {
            const payload = {
                user_id: user.id,
                training_id: this.training.id
            }

            await this.detachUserFromTraining(payload)
                .then(response => {
                    this.fetchTraining(this.training.id);
                    this.notifications.success(response.data.message);
                })
                .catch(error => {
                    this.notifications.error(error.response.data.message);
                });
        }
    }
}
</script>

<style lang="scss" scoped>
.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.button {
    margin-top: 10px;
}
</style>
