<template>
    <Modal :show="show" @close="$emit('close')">
        <div class="add-permission-modal">
            <h1 class="add-permission-modal_header">{{ isUpdate ? 'Update' : 'Create' }} Permission</h1>
            <div class="add-permission-modal_form">
                <InputField
                    class="add-permission-modal_input"
                    component-type="select"
                    label="Action"
                    :options="crudOptions"
                    :is-required="true"
                    :input-value="crudAction"
                    @update:value="crudAction = $event"
                    :hasError="validationErrorHandler.hasError('action')"
                    :errorMessage="validationErrorHandler.getMessage('action')"
                ></InputField>

                <InputField
                    class="add-permission-modal_input"
                    component-type="select"
                    label="Model"
                    :options="domainSelectOptions"
                    :is-required="true"
                    :input-value="model"
                    @update:value="model = $event"
                    :hasError="validationErrorHandler.hasError('class')"
                    :errorMessage="validationErrorHandler.getMessage('class')"
                ></InputField>
            </div>
            <PrimaryButton class="add-permission-modal_button" @click="createOrUpdatePermission">
                <p>{{ isUpdate ? 'Update' : 'Create' }}</p>
            </PrimaryButton>
        </div>
    </Modal>
</template>

<script>
import Modal from "@/Components/Modals/Modal.vue";
import {mapActions, mapGetters} from "vuex";
import PrimaryButton from "@/Components/Buttons/PrimaryButton.vue";
import TextInput from "@/Components/Form/InputTypes/TextInput.vue";
import ValidationErrorHandler from "@/Services/ValidationErrors/ValidationErrorHandler";
import InputField from "@/Components/Form/InputField.vue";
import crudOptions from "@/store/models/crud-options";
import Notifications from "@/Services/Notiffications/notifications";

export default {
    name: "CreatePermissionModal",
    components: {InputField, TextInput, PrimaryButton, Modal},
    props: {
        show: {
            required: true,
            type: Boolean
        },
        permission: {
            required: false,
            type: Object,
            default: null
        },
        isUpdate: {
            required: false,
            type: Boolean,
            default: false
        },
    },
    data() {
        return {
            crudOptions: crudOptions,
            validationErrorHandler: new ValidationErrorHandler(),
            notifications: new Notifications(),
            model: null,
            crudAction: null
        }
    },
    async created() {
        if (!!this.permission) {
            this.model = this.permission.class;
            this.crudAction = this.permission.action;
        }

        await this.fetchDomainsSelectOptions();
    },
    watch: {
        model() {
            this.validationErrorHandler.dropErrors();
        },
        crudAction() {
            this.validationErrorHandler.dropErrors();
        }
    },
    computed: {
        ...mapGetters({
            domainSelectOptions: "permissions/domainSelectOptions"
        })
    },
    methods: {
        ...mapActions({
            fetchPermissions: "permissions/fetchPermissions",
            fetchDomainsSelectOptions: "permissions/fetchDomainsSelect",
            storePermission: "permissions/storePermission",
            updatePermission: "permissions/updatePermission"
        }),
        async createOrUpdatePermission() {
            const payload = {
                id: !!this.permission ? this.permission.id : null,
                domain: this.model,
                action: this.crudAction
            }

            const action = this.isUpdate ? this.updatePermission : this.storePermission;

            await action(payload)
                .then(response => {
                    if (response.status === 201 || response.status === 200) {
                        this.fetchPermissions();
                        this.$emit('close');
                        this.notifications.success(response.data.message);
                    }
                })
                .catch(error => {
                    if (error.response.status === 422) {
                        this.validationErrorHandler.setErrors(error.response.data.errors);
                    }

                    this.notifications.error(error.response.data.message);
                });
        }
    }
}
</script>

<style lang="scss" scoped>
.add-permission-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    gap: 30px;

    &_header {
        line-height: 1.25;
        font-weight: 600;
        font-size: 1.25rem;
    }

    &_form {
        display: flex;
        align-items: flex-start;
        justify-content: space-evenly;
        width: 100%;
    }

    &_input {
        width: 250px;
    }

    &_button {
        height: 42px;
    }
}
</style>
