<template>
    <div class="login">
        <h3>{{ $t('layout.guest.getBackToTraining') }}</h3>
        <InputField
            :label="$t('form.email')"
            component-type="email"
            @update:value="payload.email = $event"
            :is-required="true"
            :hasError="validationErrorHandler.hasError('email')"
            :errorMessage="validationErrorHandler.getMessage('email')"
        ></InputField>
        <InputField
            :label="$t('form.password')"
            component-type="password"
            @update:value="payload.password = $event"
            :is-required="true"
            :hasError="validationErrorHandler.hasError('password')"
            :errorMessage="validationErrorHandler.getMessage('password')"
        ></InputField>
        <div class="block mt-4">
            <label class="flex items-center">
                <Checkbox name="remember" v-model:checked="payload.remember" />
                <span class="ml-2 text-sm text-gray-600">{{ $t('form.remember') }}</span>
            </label>
        </div>
        <div class="flex items-center justify-end mt-4">
            <PrimaryButton class="ml-4" @click="submit">
                {{ $t('layout.guest.login') }}
            </PrimaryButton>
        </div>
    </div>
</template>

<script>
import InputField from "@/Components/Form/InputField.vue";
import Checkbox from "@/Components/Checkbox.vue";
import PrimaryButton from "@/Components/Buttons/PrimaryButton.vue";
import ValidationErrorHandler from "@/Services/ValidationErrors/ValidationErrorHandler";
import Notifications from "@/Services/Notiffications/notifications";
import {mapActions} from "vuex";

export default {
    name: "Login",
    components: {
        PrimaryButton,
        Checkbox,
        InputField
    },
    data() {
        return {
            payload: {
                email: null,
                password: null,
                remember: false,
                login_type: 'web'
            },
            validationErrorHandler: new ValidationErrorHandler(),
            notifications: new Notifications(),
        }
    },
    methods: {
        ...mapActions({
            loginUser: "auth/loginUser",
            fetchCurrentUser: "users/fetchCurrentUser"
        }),
        submit() {
            this.loginUser(this.payload)
                .then(response => {
                    this.notifications.success(response.data.message);
                    this.fetchCurrentUser().then();
                    this.$router.push({name: 'dashboard'});
                })
                .catch(error => {
                    if (error.response.status === 422) {
                        this.validationErrorHandler.setErrors(error.response.data.errors);
                    }

                    this.notifications.error(error.response.data.message);
                });
        }
    }
}
</script>

<style lang="scss" scoped>
.login {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 3% 5%;
    width: 30%;
    margin-top: 5%;

    background-color: rgba(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 0 30px black;

    @media (max-width: 1000px) {
        width: 50%;
    }

    @media (max-width: 600px) {
        width: 90%;
    }

    h3 {
        font-size: 24px;
        text-align: center;

        @media (max-width: 600px) {
            font-size: 18px;
        }
    }
}
</style>
