<template>
    <div class="register">
        <h3>{{ $t('layout.guest.createAccount') }}</h3>
        <InputField
            :label="$t('form.email')"
            component-type="email"
            @update:value="newUser.email = $event"
            :is-required="true"
            :hasError="validationErrorHandler.hasError('email')"
            :errorMessage="validationErrorHandler.getMessage('email')"
        ></InputField>
        <InputField
            :label="$t('form.password')"
            component-type="password"
            @update:value="newUser.password = $event"
            :is-required="true"
            :hasError="validationErrorHandler.hasError('password')"
            :errorMessage="validationErrorHandler.getMessage('password')"
        ></InputField>
        <InputField
            :label="$t('form.confirmPassword')"
            component-type="password"
            @update:value="newUser.password_confirmation = $event"
            :is-required="true"
            :hasError="validationErrorHandler.hasError('password_confirmation')"
            :errorMessage="validationErrorHandler.getMessage('password_confirmation')"
        ></InputField>
        <RoleSelect
            :has-label="true"
            @change="newUser.role_id = $event"
            :hasError="validationErrorHandler.hasError('role_id')"
            :errorMessage="validationErrorHandler.getMessage('role_id')"
        />

        <div class="flex items-center justify-end mt-4">
            <PrimaryButton class="ml-4" @click="submit">
                {{ $t('layout.guest.register') }}
            </PrimaryButton>
        </div>
    </div>
</template>

<script>
import PrimaryButton from '@/Components/Buttons/PrimaryButton.vue';
import InputField from "@/Components/Form/InputField.vue";
import RoleSelect from "@/Components/Selects/RoleSelect.vue";
import ValidationErrorHandler from "@/Services/ValidationErrors/ValidationErrorHandler";
import Notifications from "@/Services/Notiffications/notifications";
import {mapActions} from "vuex";

export default {
    name: 'Register',
    components: {
        RoleSelect,
        PrimaryButton,
        InputField
    },
    data() {
        return {
            newUser: {
                email: null,
                password: null,
                password_confirmation: null,
                role_id: null
            },
            validationErrorHandler: new ValidationErrorHandler(),
            notifications: new Notifications(),
        }
    },
    watch: {
        newUser: {
            handler(user) {
                Object.keys(user).forEach(field => {
                    if (!!user[field]) {
                        this.validationErrorHandler.dropError(field);
                    }
                });
            },
            deep: true
        }
    },
    methods: {
        ...mapActions({
            registerUser: "auth/registerUser"
        }),
        submit() {
            this.registerUser(this.newUser)
                .then(() => {
                    this.notifications.success(this.$t('layout.guest.registered'));
                    this.$router.push({name: 'login'});
                })
                .catch(error => {
                    if (error.response.status === 422) {
                        this.validationErrorHandler.setErrors(error.response.data.errors);
                    }

                    this.notifications.error(error.response.data.message);
                });
        }
    }
}
</script>
<style lang="scss" scoped>
.register {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 3% 5%;
    width: 30%;
    margin-top: 5%;

    background-color: rgba(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 0 30px black;

    @media (max-width: 1000px) {
        width: 50%;
    }

    @media (max-width: 600px) {
        width: 90%;
    }

    h3 {
        font-size: 24px;
        text-align: center;

        @media (max-width: 600px) {
            font-size: 18px;
        }
    }
}
</style>
