<template>
    <div class="welcome">
        <h1>Easy-training tracker</h1>
        <h3>
            {{ $t('layout.guest.welcome') }}
        </h3>
    </div>
</template>

<script>
export default {
    name: "Welcome",
}
</script>

<style lang="scss" scoped>
.welcome {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    width: 50%;
    padding-top: 10%;

    @media (max-width: 1000px) {
        width: 80%;
    }

    h1 {
        text-align: center;
        font-size: 72px;
        background: -webkit-linear-gradient(0deg, #6ed0a3, #22a1a8, #1f7aa6, #9a316a, #eb3f21);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        @media (max-width: 1000px) {
            font-size: 50px;
        }

        @media (max-width: 600px) {
            font-size: 36px;
        }
    }

    h3 {
        font-size: 32px;
        text-align: center;
        color: #FFF;
        text-shadow: 3px 3px 3px black;

        @media (max-width: 1000px) {
            font-size: 26px;
        }

        @media (max-width: 600px) {
            font-size: 20px;
        }
    }
}
</style>
