<template>
    <Modal :show="show" @close="$emit('close')">
        <div class="delete-modal">
            <h1 class="delete-modal_header">{{ title }}</h1>
            <p>{{ notification }}</p>
            <div class="delete-modal_form">
                <DangerButton class="delete-modal_button" @click="deleteModel">
                    <p>Delete</p>
                </DangerButton>
            </div>
        </div>
    </Modal>
</template>

<script>
import Modal from "@/Components/Modals/Modal.vue";
import DangerButton from "@/Components/Buttons/DangerButton.vue";
import Notifications from "@/Services/Notiffications/notifications";

export default {
    name: "DeleteModal",
    components: {DangerButton, Modal},
    emits: ['deleted'],
    props: {
        show: {
            required: true,
            type: Boolean
        },
        vuexAction: {
            required: true,
            type: String,
        },
        model: {
          required: true,
          type: Object
        },
        modelName: {
            required: true,
            type: String,
        },
    },
    data() {
        return {
            notifications: new Notifications()
        }
    },
    computed: {
        title() {
            return 'Delete ' + this.modelName;
        },
        notification() {
            const name = this.getModelName();
            return `Are you sure you want to delete "${name}"?`;
        }
    },
    methods: {
        async deleteModel() {
            this.$store.dispatch(this.vuexAction, this.model)
                .then(() => {
                    this.notifications.success(`${this.modelName} has been deleted.`);
                    this.$emit('deleted');
                })
                .catch(error => {
                    this.notifications.error(error.response.data.message);
                });
        },
        getModelName() {
            let name = this.model.name;

            if (!name) {
                if (!!this.model.first_name) {
                    name = this.model.first_name + ' ' + this.model.last_name;
                }
            }

            return name;
        }
    }
}
</script>

<style lang="scss" scoped>
.delete-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    gap: 30px;

    &_header {
        line-height: 1.25;
        font-weight: 600;
        font-size: 1.25rem;
    }

    &_form {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
    }

    &_input {
        width: 250px;
    }
}
</style>
